[2017-03-05 16:26] UnrealQuester commented on #406
@vinyldarkscratch I have tried to reproduce the issue with a local `.oclint` file in the same directory as the `test.m` file, and with a `.oclint` file in the home directory. Both of these files were parsed by oclint as writing invalid yaml in them caused oclint to emit an error.

[2017-03-05 19:56] vinyldarkscratch commented on #406
So when you have "enable-global-analysis" in your .oclint files, it doesn't throw any errors?  Hmm, that's strange...  @UnrealQuester, what operating system are you using, and how did you install OCLint?

[2017-03-06 03:04] vinyldarkscratch commented on #406
Just fixed with #410, hopefully it works for you, @michaeleiselsc?  (I know that one of the two build tests failed, that's just because the main.cpp file doesn't have any tests for it, sorry!)

[2017-03-06 07:16] UnrealQuester commented on #406
@vinyldarkscratch running on linux and oclint was build from source from commit `327cdc280566ea`.

[2017-03-11 00:57] ryuichis commented on #409
Closing this issue based on the same reason @UnrealQuester pointed out. Thanks @vinyldarkscratch for bringing this up.

[2017-03-11 00:57] #409 closed

[2017-03-11 01:00] ryuichis commented on #407
@michaeleiselsc this is a very good point, if you are interested in discuss further, could you send an email to ryuichi@ryuichisaito.com. and we take it from there?

[2017-03-11 01:00] #407 closed

[2017-03-11 01:02] #405 closed

[2017-03-11 01:04] #399 closed

[2017-03-11 01:04] ryuichis commented on #396
Thanks @capjo. Looking forward to your pull request.

[2017-03-11 01:04] #396 closed

[2017-03-13 21:26] michaeleiselsc opened #412 "Feature request: lint files in parallel"
### Issue Summary
Linting seems ripe for parallelization, but unfortunately I haven't seem a good solution yet. I've tried running this script, https://gist.github.com/tommeier/ff660205271f82a47041, but as you can see with the timings I posted in there, it doesn't parallelize very well. My other solution is to put subsets of the overall compile_commands.json into individual temp directories (while

[2017-03-13 22:58] michaeleiselsc opened #413 "High memory consumption - memory leak?"
### Issue Summary
When I run OCLint on my machine for 500 files, its memory usage increases without bound. When I run 8 OCLints in parallel to speed things up, it takes up all of the memory on my machine and I have to terminate the process. Any ideas on how to solve this? It shouldn't have to constantly increase the memory used like that as it goes through its process, adding gigs and gigs of over

[2017-03-14 02:05] michaeleiselsc opened #415 "Lints don't work when a class's interface is spread out across multiple files"
### Issue Summary
When a method is declared with a modifier, `MissingCallToBaseMethod`, and it's in a category of the superclass that the subclass does not import, then it won't trigger any lints for that subclass, even if the file with the category is included in compile_commands.json

### Environment
- Operation system name and version: OS X 10.11.6, El Capitan
- OCLint version:
[code]
- How OCL

[2017-03-20 08:07] HappyMary commented on #302
@UnrealQuester @ryuichis  I found  that it appear "error generated" when the project contains the assembly code.

[2017-03-31 03:47] adudurant opened #416 "How to show the clang analyzer results in the report？"
As the title， I  saw the clang analyzer results in the report，but the  number is 0.
If the  clang analyzer results showed  as well as the  the oclint warnings，it would be helpful to build  continuous environment.
Thanks！

[2017-03-31 06:24] adudurant commented on #266
@rmaz  could you tell me how to get the  clang static analyzer  output in the command line or  anyplace else，like  “**ViewController.m    26:5    clang static analyzer   checker bug Call to function 'gets' is extremely insecure as it can always result in a buffer overflow”** ？   Thanks！

[2017-03-31 11:10] adudurant commented on #145
The issue is great

[2017-03-31 15:06] UnrealQuester commented on #416
What kind of report are you generating? Most report types already show the clang analyzer results with `-enable-clang-static-analyzer`.

[2017-04-05 02:47] adudurant commented on #416
Thanks!  In fact, I had already found the way and written some custom rulers. But ,there still some limits,like the macro  ,the header ...cannot be analyzed , for it can be done in the clang .      So, I wonder if  the improvement can be done ?

[2017-04-05 10:59] ryuichis commented on #416
@adudurant I think we avoid analyzing on header files, if you have that requirement, please check out `https://github.com/oclint/oclint/blob/master/oclint-rules/include/oclint/AbstractASTVisitorRule.h#L31`.

[2017-04-06 03:36] adudurant commented on #416
@ryuichis Nice to get your reply. I have reviewed the source code,but could't find any information about analyzing the header, would you show something more detail ?

[2017-04-06 03:37] adudurant commented on #416
@ryuichis   In addition, why not analyze on head files?

[2017-04-06 09:20] adudurant commented on #416
@ryuichis   I have some ideas about  oclint.  Sometimes, when oclint  tells us the code may have errors,but we want to ignore the warnings.   In this case，what could we do?  Some other tools could add comments to ignore the code that show warning,like  Parasoft C++ Test.

[2017-04-06 11:41] ryuichis commented on #416
@adudurant many of your questions can be found at our documentation, for example, http://docs.oclint.org/en/stable/howto/suppress.html

And if you comment out the line of the code that I pointed you to, then it will analyze the header files.

[2017-04-06 11:41] ryuichis commented on #416
Since the conversation in this issue becomes out of the initial scope, I am closing in favor of separate discussions.

[2017-04-06 11:41] #416 closed

[2017-04-11 07:49] nicolasiJasica commented on #379
i have the same problem. can u resolve?

[2017-04-13 07:38] adudurant opened #420 "Oclint doesn‘t exist the command line？"
I find that  when  Oclint  has analyzed the code and generated the report，but  it does't leave the command line。  Sometime，it takes a long time or I has to ctrl+z to force interrupt。

[2017-04-14 01:43] adudurant commented on #420
Well，this condition bothers me a lot。Who could help？

[2017-04-14 12:00] ryuichis commented on #420
@adudurant could you open a new issue by following our issue template and providing a sample project? It will enable us to replicate the same issue that you have on our end. I understand your concern, but with the description that you have in this thread, there is really nothing we can help.

[2017-04-14 12:00] #420 closed

[2017-04-17 01:53] adudurant commented on #420
@ryuichis  It's a  big project.The  log  that  generate  by   command "xcodebuild ” can reach 60MB. However,I solve this problem by some other way. I wonder if there is something wrong with the I/O  stream.

[2017-04-17 13:51] GipsySh opened #421 "OCLint results are not shown in Xcode"
### Issue Summary
There are no OCLint results output both in Xcode and command line if the rules for Inspection are set.

### Environment
- Operation system name and version: macOS Sierra 10.12.4
- OCLint version: 0.12
- How OCLint is installed: Homebrew install
- XCode 8.3.1

### Reproduction Steps
I use the following script to OCLint execute:

[code]

There are no any OCLint results output when

[2017-04-23 22:25] GipsySh commented on #421
@ryuichis Sorry, could you try to help me to solve this problem, please? I've looked through the source of oclint and oclint-json-compilation-database and it seems '-R' is correct argument. So, I don't have any ideas where am I wrong.

According to `oclint-json-compilation-database` the command to invocate oclint is
`oclint_invocation = '"' + OCLINT_BIN + '"' + debug_argument + oclint_arguments +

[2017-04-25 14:32] bart-kneepkens commented on #309
+1

[2017-04-25 15:28] bart-kneepkens opened #422 ""1 Error generated" on one of my two machines"
### Issue Summary
OCLint prints '1 error generated' quite some times, making the output file incomplete. This issue only happens on one of my two machines, which have the same version of MacOS, Xcode, OCLint and OCLint dependencies installed.

### Environment
- Operation system name and version: MacOS Sierra 10.12.4
- OCLint version: 0.12 (although same issue for 0.11 and 0.11.1)
- Xcode version:

[2017-04-26 08:19] bart-kneepkens commented on #422
Seems to be related to #302

[2017-04-26 10:14] yaoweili opened #423 "OCLint generate html report error"
The OCLint scrips has a report-type parameter, so i can create an html report with this command:

oclint-json-compilation-database -- -max-priority-1 10000 -max-priority-2 10000 -max-priority-3 10000 -rc LONG_LINE=150 -report-type pmd -o oclint.xml

but here error with this command:

1 error generated.
1 error generated.

oclint: error: cannot open report output file /Users/liyaowei/Desktop/ffstpc

[2017-04-26 13:00] bart-kneepkens commented on #423
You won't be generating a HTML report with `-report-type pmd -o oclint.xml`. Use the `html` report type.

Furthermore, it seems somewhat related to #422 and #302.

[2017-04-27 06:19] yaoweili opened #424 "OCLint reporter failed"
I use OCLint with this command:

sudo oclint-json-compilation-database -- -max-priority-1 10000 -max-priority-2 10000 -max-priority-3 10000 -rc LONG_LINE=3000 -report-type html -o oclint.html

and then,throw an error :

1 error generated.
2 errors generated.
3 errors generated.
1 error generated.
1 error generated.
6 errors generated.
7 errors generated.
1 error generated.
1 error generated.
2 err

[2017-04-27 06:24] yaoweili commented on #377
@daniel-beard  How do you locate the problem in which class

[2017-04-27 11:11] ryuichis commented on #422
@bart-kneepkens for the machine that you see this error, could you delete the current `compile_commands.json` file, run `xcodebuild clean -workspace {workspace} -scheme {scheme}`,  maybe delete the project intermediate files from `DerivedData` folder. So the goal is to give your project a clean stage, and then run oclint again.

I am closing this, and hope the conversation would continue in #302.

[2017-04-27 11:11] #422 closed

[2017-04-27 11:14] ryuichis commented on #424
@yaoweili I hope I can help you, but can you provide a sample project for me to replicate the same issue that you have?

I am closing this one, and we can continue the conversation in #302.

[2017-04-27 11:14] #424 closed

[2017-04-27 11:16] ryuichis commented on #423
The original question has been answered by @bart-kneepkens (thanks for that), and the remaining issue will be discussed in #302 with the hope that additional information could be provided.

[2017-04-27 11:16] #423 closed

[2017-04-27 11:20] ryuichis commented on #302
Just another thought, do you folks write your own custom rules? Will re-compiling these rules with the latest Xcode version and oclint release source code help solve the issue?

[2017-04-27 11:28] ryuichis commented on #421
Your `oclint-json-compilation-database -i <DirForAnalyzing> -- -report-type xcode -R <PathToRules> -max-priority-1=1 -max-priority-2=1 -max-priority-3=1` looks right to me. I think the issue happens to your `PathToRules`. Do you have custom rules in that folder? Or is it a subset of built-in rules?

[2017-04-27 16:19] daniel-beard commented on #377
@yaoweili I stepped through my code using lldb, was fairly obvious once it started crashing reproducibly with a single "bad" file.

[2017-04-28 05:17] yaoweili opened #425 "oclint: error: cannot open report output file /Users/lxx/xx.xml"
I Use Oclint commond to output an xml file but,system throw an error like this:

oclint: error: cannot open report output file /Users/liyaowei/Desktop/ffstpcommon_V1.6.0/SecondHand/oclint.xml

but,in the project path :/Users/liyaowei/Desktop/ffstpcommon_V1.6.0/SecondHand/oclint.xml,there
hava an oclint.xml,

[Uploading 86157E9B-5D7B-405E-A901-9D08EC42B8FE.png…]

Does anyone know about it?

[2017-04-28 13:09] ryuichis commented on #425
I don't think we ship any oclint.xml file in our package, so it should be a file under your control. If it is your output destination, then is it a file that the `user` that runs oclint command doesn't have the permission to write to? And your screenshot wasn't uploaded successfully.

[2017-04-30 16:59] BobatBH commented on #302
This is still not fixed in 0.12. I don't (haven't yet, anyway) write my own custom rules.

I get a ton of:

n error generated
n errors generated
Then several 'Compiling /Some/path/to/my/code/file.m - Failed
Then Build succeeded.

[2017-05-01 07:03] bart-kneepkens commented on #302
I don't have custom rules either. Using 0.12 and Xcode 8.3.x, I get a lot of `n errors generated`.

I did notice though, that I am unable to run some commands in the compile_commands.json. They give out the very same `n errors generated`. So perhaps the bug is in (deprecated) oclint-xcodebuild or/and xcpretty.

[2017-05-01 11:46] BobatBH commented on #302
I'm not sure what the problem is at this point. It has been a blocking issue for me for about a year, so I haven't been able to use oclint for that long (and I REALLY want to be using it). :)

[2017-05-01 12:16] ryuichis commented on #302
@bart-kneepkens @BobatBH not sure if deleting the `xcodebuild.log` and `compile_commands.json`, and generating new one will help.

I am very concerned about this issue, but I am also very curious that as one of the most highlighted issue, I just never experienced it myself, nor someone provide any sample code for me to run it locally... If a problem could last for more than a year, I am assuming t

[2017-05-01 12:28] ryuichis commented on #302
<img width="618" alt="screen shot 2017-05-01 at 7 24 19 am" src="https://cloud.githubusercontent.com/assets/4386920/25579650/4ee664ce-2e3f-11e7-9c1d-d671869930e9.png">

In the last 392,274 invocations, only 309 failed during compilation time, so 0.07%... Although I am all for getting this fixed, I really need to understand the issue before working on it...

[2017-05-01 12:44] BobatBH commented on #302
@ryuichis I emailed a sample project. Thanks! I would love to get to the bottom of this issue. :)

[2017-05-01 13:00] ryuichis commented on #302
@BobatBH thanks for the effort. My local oclint installation can run your sample project successfully. And I have replied to your email with the commands I used and some screenshots.

[2017-05-01 21:45] daniel-beard commented on #302
I also see this fairly commonly. Often happens around the time we upgrade to a newer Xcode version.

[2017-05-02 10:26] GipsySh commented on #421
@ryuichis  Thanks for your answer and sorry for the delay in response. Yes, I have the custom rules in <PathToRules> directory. Is it possible they are the reason of the problem? What can I do to fix it?

[2017-05-04 11:40] ryuichis commented on #421
Can you recompile these custom rules? I also see you use homebrew installation, so I am wondering if your custom rules are compatible with it, so also worths to try compile oclint entirely with your custom rules, and just use your local version.

[2017-05-04 11:42] ryuichis commented on #425
interesting, `ls -al /Users/liyaowei/Desktop/ffstpcommon_V1.6.1/SecondHand/oclint.html`, what you see?

[2017-05-05 02:48] yaoweili commented on #425
noting,and I  use commond : ls  in my project finder  ,no file named colint.html  ,and  I use the commond  you gived me, systeme notice me "ls: /Users/liyaowei/Desktop/ffstpcommon_V1.6.1/SecondHand/oclint.html: No such file or directory",so I think ,the commond :
sudo oclint-json-compilation-database - -max-priority-1 10000 -max-priority-2 10000-max-priority-3 10000 -rc LONG_LINE = 150 - report-ty

[2017-05-05 10:21] BobatBH commented on #302
SOLVED! (For me, at least.)

I looked in usr/local and there were several oclint files from the current- and previous versions. I deleted them all and copied the 0.12 files.

I think the tipping point was the oclint folder in lib was just a symlink (I’ve no idea how it got to be that way but my hunch is that it was from a pretty old install of oclint).

Thanks to @ryuichis to help get to the cause

[2017-05-05 10:56] adudurant opened #427 "oclint went wrong"
When  I run oclint in Jenkins，it came  out the problem ， as follows
（The compile_commands.json is about 23MB）
Traceback (most recent call last):
  File "/Users/ci/webplatform-ci/oclint/build/oclint-release/bin/oclint-json-compilation-database", line 87, in <module>
    exit_code = subprocess.call(oclint_invocation, shell=True)
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/py

[2017-05-05 12:05] bart-kneepkens commented on #302
Unfortunately, I still get the same errors when trying @BobatBH's solution. I removed all OCLint related files from usr/local, and placed 0.12 versions there. Same for usr/lib, but the errors are still there.

[2017-05-06 02:47] ryuichis commented on #302
Thanks @BobatBH for working with me. In addition to the multiple versions, it is worth noting that we currently need to copy the c++ headers if you install oclint by copying the package into the system path, I have updated the doc accordingly: https://github.com/oclint/oclint-docs/pull/24/files

One other thing that we can try is to run oclint directly from unarchived folder. For example, download

[2017-05-06 02:55] ryuichis commented on #427
Thanks for reporting this. I am closing this and hope the conversation continues at #233.

[2017-05-06 02:55] #427 closed

[2017-05-06 03:01] ryuichis commented on #425
k, how is the permissions look for its containing folders?

For example, what you see for
`ls -al /Users/liyaowei/Desktop/ffstpcommon_V1.6.1/SecondHand`
and
`ls -al /Users/liyaowei/Desktop/ffstpcommon_V1.6.1`

[2017-05-06 03:16] adudurant commented on #427
In fact,I had spilted the file into smaller pieces,about less than 10MB and  it had run smoothly for a long time .However, I solved this by spitting more smaller ,for about 9MN.  Funny!

[2017-05-08 03:20] yaoweili opened #428 "oclint cannot report an"
I  use commond like this to report a  xml in my project finder：

sudo oclint-json-compilation-database -- -max-priority-1 10000 -max-priority-2 10000 -max-priority-3 10000 -rc LONG_LINE=150 -report-type pmd -o oclint.xml

and there is an error like this：
oclint: error: cannot open report output file /Users/liyaowei/Desktop/1.60/ffstpcommon_V1.6.0/SecondHand/oclint.xml

[2017-05-08 07:03] yaoweili commented on #302
I use oclint report XML files, produces the following error：
localhost:SecondHand liyaowei$ sudo oclint-json-compilation-database -- -max-priority-1 10000 -max-priority-2 10000 -max-priority-3 10000 -rc LONG_LINE=150 -report-type pmd -o oclint.xml
Password:
1 error generated.
2 errors generated.
3 errors generated.
1 error generated.
1 error generated.
6 errors generated.
7 errors generated.
1 err

[2017-05-08 08:34] adudurant commented on #427
@ryuichis

[2017-05-08 12:57] ryuichis commented on #428
What's the difference between this one and #425? Closing this one for now.

[2017-05-08 12:57] #428 closed

[2017-05-08 13:05] ryuichis commented on #302
Thanks @yaoweili for providing an updated screenshot. the similar one has been posted earlier in this thread. Again, I never see this type of error myself, this type of description and screenshot doesn't provide any useful information (but I appreciate it). And if you could provide your project as a sample, so that I can see the issue locally, otherwise, I am not able to help.

Folks, I am fully a

[2017-05-09 12:54] adudurant opened #429 "When oclint meet the chinese"
When  there are some Chinese symbols in the project path,the error as follows,

/oclint-release/bin/oclint-json-compilation-database", line 85, in <module>
    print(oclint_invocation)
UnicodeEncodeError: 'ascii' codec can't encode characters in position 193-196: ordinal not in range(128)

Anyone could help?

[2017-05-10 06:43] HappyMary commented on #302
@ryuichis I emailed a sample project. Hope it is helpful for finding the resolve. Thanks

[2017-05-10 11:42] adudurant opened #430 "oclint-json-compilation-database work with -enable-clang-static-analyze ？"
Could oclint-json-compilation-database  work with -enable-clang-static-analyze ？ I know oclint work with  -enable-clang-static-analyze ，and get the report。But，oclint-json-compilation-database ？

[2017-05-10 11:55] ryuichis commented on #430
Please refer to http://docs.oclint.org/en/stable/manual/oclint-json-compilation-database.html for passing the oclint arguments through `oclint-json-compilation-database`.

[2017-05-10 11:55] #430 closed

[2017-05-10 11:56] ryuichis commented on #302
Thanks @HappyMary. My local oclint installation can run your sample project successfully. And I have replied to your email with the commands I used and some screenshots.

[2017-05-10 12:06] ryuichis commented on #429
Sorry I can't. It's a Python error https://wiki.python.org/moin/UnicodeEncodeError, not an OCLint error. Please submit a fix to Python language.

[2017-05-10 12:06] #429 closed

[2017-05-12 03:00] adudurant commented on #416
@UnrealQuester  Thanks！ But when I use the command to analyze a project，I can‘t get the report. Do you get the  report?

[2017-05-12 03:35] adudurant commented on #262
@johnofcamas   I wonder that you analyzer a simple file or a project?

[2017-05-12 06:10] adudurant commented on #430
@ryuichis  Sorry .But the result shows that oclint could run with --enable-clang-static-analyze not as well as the  oclint-json-compilation-database. A litter big project can't generate the report,and becomes ok without --enable-clang-static-analyze.   The same as https://github.com/oclint/oclint/issues/219. Is there any way?

[2017-05-12 06:30] adudurant opened #431 "oclint-json-compilation-database can't run with --enable-clang-static-analyze"
Sorry .But the result shows that oclint could run with --enable-clang-static-analyze not as well as the oclint-json-compilation-database. A litter big project can't generate the report,and becomes ok without --enable-clang-static-analyze. The same as #219. Is there any way?

 The error  meessage show "oclint(81681,0x7fff71f46000) malloc: *** error for object 0x7fdd499e4200: pointer being realloc'd

[2017-05-12 09:20] adudurant commented on #431
Many other friends of mine，meet the same problem。。。

[2017-05-12 12:45] bart-kneepkens commented on #378
I would appreciate a solution as well. For the project I'm working on, I have macros defined that point to code inside the CocoaPods, that should be excluded by using the -e flag. This makes that there are lots of warnings for pods' code.

[2017-05-13 00:01] michaeleiselsc opened #432 "OCLint produces warning that clang on its own does not"
### Issue Summary
When I run OCLint, it gives me a compile-time warning (which becomes an error with -Werror) for a warning that it doesn't when I just compile it using the command that OCLint uses. clang --version gives:
[code]

### Environment
- Operation system name and version: OS X 10.12
- OCLint version: 0.12
- How OCLint is installed: local build? prebuilt binary downloaded from github? hom

[2017-05-13 07:36] UnrealQuester commented on #432
The OCLint binary uses clang 4.0.0 from llvm, whereas apple uses their own version possibly based on llvm 3.9.
If you want OCLint to produce the exact same warnings as your compiler you need to build OCLint yourself with `-use-system-compiler`.

[2017-05-15 15:14] bart-kneepkens opened #433 "Warnings on 3rd party functions"
I am using CocoaLumberjack for logging. With every `DDLog...` call, I get the warnings `ConstantIfExpression` and `BitwiseOperatorInConditional`, even though I have excluded the `Pods` folder using the `-e Pods` flag in `oclint-json-compilation-database`.

Is there any way to tackle these warnings? They are valid when you look at CocoaLumberjack code, but since my code simply calls that, it should

[2017-05-15 18:49] michaeleiselsc commented on #432
as in, using the command `make -use-system-compiler` from the oclint-scripts directory?

[2017-05-15 18:55] michaeleiselsc commented on #432
that doesn't seem to work for me btw

[2017-05-15 19:33] michaeleiselsc opened #434 "Is there any way to get a JSON report but also know of compiler errors?"
### Issue Summary
Short of writing my own reporter, is there any way to get OCLint output in an organized format like JSON or XML but with the compiler errors reported in some way? Even just knowing whether or not 1 or more compiler errors have occurred would do the job, so that I know that the results are valid or require further investigation. For example, reporting the same results out to two r

[2017-05-16 20:10] UnrealQuester commented on #432
`-use-system-compiler` is actually a command line argument to `build`, so the correct invocation would be `./build -use-system-compiler` from the scripts directory.

[2017-05-16 20:44] michaeleiselsc commented on #432
thanks!

[2017-05-16 20:44] #432 closed

[2017-05-17 09:59] adudurant commented on #434
No compiling successfully no analyzing

[2017-05-17 18:17] michaeleiselsc commented on #434
Right, but even if compilation fails, it's able to output a result saying that compilation failed. It's just that certain formats don't include compilation failures

[2017-05-18 08:35] AbigailBuccaneer opened #435 "oclint-json-compilation-database doesn't support `-p` option"
`oclint` supports specifying the path to `compile_commands.json` with `-p dir`. `oclint-json-compilation-database` doesn't understand this flag, meaning it's necessary to do `(cd dir && oclint-json-compilation-database)` which can be awkward for build systems.

Ideally it'd be possible to specify `-p` and it would both use that to find the file itself and pass it through to `oclint`.

[2017-05-19 14:41] AbigailBuccaneer commented on #415
This is the example from the archive:

[code]
[code]
[code]
[code]

I think this bug report is invalid - OCLint (just like the compiler) analyses files one translation unit at a time. When analysing Derived.m, OCLint has no way of knowing that some other translation unit is going to declare a category on `Base` with a method signature that matches one of `Derived`'s. As far as it's concerned, `Der

[2017-05-19 14:57] AbigailBuccaneer commented on #315
I think *re*assignment of reference parameters is suspicious only if the first one is unnecessary: that should be found by a dead store analyser like Clang static analyzer's `deadcode.DeadStores` checker.

[2017-05-19 14:58] AbigailBuccaneer commented on #313
Assuming the cause is that `snprintf` is a macro, #378 would fix this.

[2017-05-19 15:00] AbigailBuccaneer commented on #230
This is a special case of #378.

[2017-05-19 15:01] AbigailBuccaneer commented on #258
This is a special case of #378.

[2017-05-30 10:10] newfun1994 opened #436 "AttributeError: 'NoneType' object has no attribute 'startswith'"
I use oclint analyzing my project. sometime it's ok. Most of the time it is failing.

[code]
but `compile_commands.json` is successful

I don't know where wrong

My shell script
[code]

[2017-05-31 17:30] UnrealQuester commented on #436
This looks like a problem with the clint-json-compilation-database script or the `compile_commands.json` file.

The error seems to indicate that one of the entries in that database has a file attribute with the value `null` instead of a filepath. Can you check your `compile_commands.json` to see if this is the case?

[2017-06-14 09:36] apmanol opened #438 "Link error with LLVM 4.0.1/5.0.0"
### Issue Summary
During linking of oclint commit:8fdcf16 with `LLVM`  build from origin/release_40   or origin/master fails

### Environment
- Operation system name and version: linux fedora 25
- OCLint version: 0.12
- How OCLint is installed: local build

### Reproduction Steps
build oclint using custom llvm build.
The build with the
`./clang prebuilt`

work as it should.

#### Sample Output

[c

[2017-06-14 09:41] apmanol commented on #435
It does, but you need to follow the syntax rule of the script, for exampe:
[code]

[2017-06-14 14:12] UnrealQuester commented on #438
Looks like an ABI mismatch to me. The linker looks for `clang::tooling::getClangSyntaxOnlyAdjuster` but finds `clang::tooling::getClangSyntaxOnlyAdjuster`**[abi:cxx11]**.
Can you tell us your default compiler (`c++ --version`)?

This might be solved by passing `-D_GLIBCXX_USE_CXX11_ABI=1` to cmake, which forces the compiler to use the new cxx11 abi. New g++ versions schould do this already by defa

[2017-06-14 14:38] apmanol commented on #438
Actually that was my mistake, from previous  versions/builds I had appended the `D_GLIBCXX_USE_CXX11_ABI=1` in the cmake files and was propagated around!

I removed that and everything went smooth!

Thank you very much for your help!

[2017-06-14 14:38] #438 closed

[2017-06-19 06:25] adudurant commented on #431
I solve this  problem 。。。。it's a  llvm bug ....Then I will do some commits.

[2017-06-19 06:25] #431 closed

[2017-06-19 06:26] adudurant commented on #431
@ryuichis

[2017-06-19 14:10] AbigailBuccaneer commented on #435
It works if the path you want to pass is `$PWD`, but it doesn't work in general. `oclint-json-compilation-database` reads `./compile_commands.json` itself to form the `oclint` command line, and that's not configurable with `-p`.

[code]

[2017-06-24 17:57] jeppefrandsen commented on #378
+1

[2017-06-24 17:59] jeppefrandsen commented on #309
+1

[2017-06-27 09:19] samvasko opened #439 "Compilation errors do not change the exit status"
### Issue Summary
When an compilation error occurs the exit code remains zero.

### Environment
- Operation system name and version:
[code]
- OCLint version:
[code]
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others? homebrew

#### Sample code

[code]
Run `oclint error-code.c`

### Expected Behavior
Failure should reflect in the exit status cha

[2017-06-27 20:15] #398 closed

[2017-06-27 20:18] #436 closed

[2017-06-27 20:21] ryuichis commented on #435
This is the reason we ask you to copy over `compile_commands.json` to the root of your project. And it's a `libClang` requirement.

[2017-06-27 20:21] #435 closed

[2017-06-27 20:24] ryuichis commented on #61
Guess the needs for this reporter is fading, so I am closing this one, and let others submit feature requests.

[2017-06-27 20:24] #61 closed

[2017-06-27 20:25] #82 closed

[2017-06-27 20:28] #310 closed

[2017-06-27 20:29] ryuichis commented on #310
You basically can get OCLint in debug mode with these
[code]

[2017-06-27 20:31] #425 closed

[2017-06-27 20:36] ryuichis commented on #321
Just an update to this, I am working on a static code analyzer for Swift language, check it out from http://yanagiba.org/swift-lint. It's still working in progress, but may help some people already.

[2017-06-27 20:36] #321 closed

[2017-06-27 20:37] ryuichis commented on #433
This is a duplicated issue due to the lack of capability of handling marco properly. We will fix that (if we can) and then this will be addressed along the way.

[2017-06-27 20:37] #433 closed

[2017-06-27 20:43] #313 closed

[2017-06-27 20:43] ryuichis commented on #309
#378

[2017-06-27 20:43] #309 closed

[2017-06-27 20:44] #404 closed

[2017-06-27 20:45] ryuichis commented on #258
#378

[2017-06-27 20:45] #258 closed

[2017-06-27 20:48] ryuichis commented on #230
#378

[2017-06-27 20:48] #230 closed

[2017-06-27 23:18] #439 closed

[2017-06-29 19:09] AbigailBuccaneer commented on #435
`libTooling` / `libClang`, and `oclint` itself, support this just fine. It's a requirement that the file is named `compile_commands.json`, but *not* that it's at the project root. The bug here is that `oclint-json-compilation-database` [hardcodes the location](https://github.com/oclint/oclint-json-compilation-database/blob/master/oclint-json-compilation-database#L16) that it reads `compile_command

[2017-06-30 18:42] michaeleisel commented on #362
@ryuichis the issue is that none of the machine-friendly formats show whether or not an error has occurred. the only formats that seem to do it are html and text. so if we want to parse the output and also know if one or more errors has occurred, it either requires a lot of munging of report formats that seem likely to change between versions, or doing multiple oclint calls

[2017-07-04 12:46] BigNewbiePlus commented on #318
I also have the same problem, can u share it? @qiuhm

[2017-07-04 13:24] BigNewbiePlus commented on #236
me too!!! can't find any tutorials about this!!!

[2017-07-05 06:10] self-creative opened #441 "error: one compiler command contains multiple jobs:（xcode 9.0）"
when i upgrade xcode to 9.0-beta。It raise： error: one compiler command contains multiple jobs:

[2017-07-05 08:31] BigNewbiePlus opened #442 "build too large size rules!!!(tried ubuntu and fedora)"
### Issue Summary
I build the oclint according to the Development,  I build rules and use **oclint sample.cpp -- -c** to test. All my test is ok and the only difference is that when i **./build rules**, every my build rule size>15M and not as the oclint pre-built binary version with size >300k, anyone met the same issue?

### Environment
- Ubuntu16.0 and Fedora-Workstation-Live-x86_64-25-1.3:
- OC

[2017-07-09 07:32] self-creative commented on #442
I think oclint is extinct and unsupported by contributers...because i hava a big probrlem,but nobody can help me:   my issue is : https://github.com/oclint/oclint/issues/441

[2017-07-09 11:20] BigNewbiePlus commented on #442
absolutely right!!! but we can help each other!!!

[2017-07-09 11:21] BigNewbiePlus commented on #441
maybe you can try `oclint ./* -- -c` or use bash command

[2017-07-10 13:58] ryuichis commented on #442
I think you are building oclint in debug mode, which results in large file sizes. Building it with release mode will help.

@self-creative I suggest you read http://contributor-covenant.org/version/1/4/ before making such comments. Open source community is designed to help each other as @BigNewbiePlus pointed out. Please be advised that all open source contributors have their work and life as well

[2017-07-10 13:58] #442 closed

[2017-07-10 14:03] ryuichis commented on #441
I don't think oclint-0.12 prebuilt binary supports Xcode 9. As the time of writing, Xcode 9 is still in beta, so we don't _officially_ support it for the time being.

I have built oclint locally against Xcode 9 beta 2 last week, and it worked. So instead of using the prebuilt binary, I suggest you clone the code, and build it locally.

[2017-07-10 14:03] #441 closed

[2017-07-10 14:30] BigNewbiePlus commented on #442
Very appreciate for @ryuichis awesome answer，I will try it!!!

[2017-07-11 01:22] self-creative commented on #441
@ryuichis Thanks for your reply, I will try it

[2017-07-11 01:24] self-creative commented on #442
@ryuichis ,I will read http://contributor-covenant.org/version/1/4/. Thanks so much, and oclint is a  nice project

[2017-07-13 21:46] #46 closed

[2017-07-13 21:47] #74 closed

[2017-07-13 21:47] #118 closed

[2017-07-13 21:49] #161 closed

[2017-07-13 21:49] #184 closed

[2017-07-13 23:55] ryuichi-assistant commented on #434
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #421
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #415
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #413
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #412
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #406
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #397
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #390
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #388
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #382
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #364
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #363
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #331
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #330
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #324
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #315
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #304
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #303
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #302
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #298
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #280
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #259
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #255
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #238
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #237
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #232
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:55] ryuichi-assistant commented on #229
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #228
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #224
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #211
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #202
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #181
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #175
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #174
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #148
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #145
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #142
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-13 23:57] ryuichi-assistant commented on #131
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-07-14 02:02] ryuichis opened #443 "A test issue"

[2017-07-14 02:02] ryuichi-assistant commented on #443
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-07-14 02:02] #443 closed

[2017-07-14 06:40] fabb commented on #324
This has not yet been implemented as far as I can tell, and it is still something desirable.

[2017-07-14 12:37] ryuichis commented on #324
Your point is valid, but we currently skip checking headers to avoid high false positives and performance issues. Help is needed to figure that out prior to this.

[2017-07-14 12:43] ryuichis commented on #397
Merge to #413

[2017-07-14 12:43] #397 closed

[2017-07-17 01:37] vicwan commented on #312
I am facing the same issue. Has anyone solved it already?

[2017-07-18 03:51] vicwan opened #444 "oclint-json-compilation-database not running (0.12) iOS project"
### Issue Summary
cd into my iOS project directory and I ran the script (see Sample Code below) using Bash. And as #312 described, everything was fine until running the *oclint-json-compilation-database* command. OCLint just stopped there and last for around 30 mins without any output. So, I interrupted the process manually using *ctrl + c* and got the information:
[code]
The project was successfu

[2017-07-18 03:51] ryuichi-assistant commented on #444
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-07-18 15:31] ryuichis commented on #444
I do appreciate your detailed description, and I am happy to hear it runs successfully for the first time. Now we need to figure out what has been changed between the first run and sequential ones.

1. Any new dependency libraries have been added? If they are third-party open source cocoapods, what are they? Any internal private pods?
2. How about force clean the DerivedData folder? I am currently

[2017-07-19 07:43] garnetwzy opened #445 "Try to solve the argument too long problem by changing the code of oclint, but failed.Need Help!"
### Issue Summary
I want to change the oclint source code to solve the argument too long problem. I know there is a [solution](https://github.com/oclint/oclint/issues/233) ,by splitting the compile_command.json to many pieces and oclint many times, but this solution can't analyze cross files and share information between these  analyse.
My idea is to give oclint an option to read command from a fi

[2017-07-19 13:01] UnrealQuester commented on #445
How have you installed your self-built oclint? By default, oclint searches "../lib/oclint/rules" for rules.
So if oclint is located at `/usr/local/bin/oclint` the rules should be at `/usr/local/lib/oclint/rules`.

[2017-07-20 05:36] garnetwzy commented on #445
I've solved my problem.

[2017-07-20 05:36] #445 closed

[2017-07-20 16:23] AbigailBuccaneer commented on #412
[`run-clang-tidy.py`](https://github.com/llvm-mirror/clang-tools-extra/blob/master/clang-tidy/tool/run-clang-tidy.py#L192) provides a good model for how to do this.

[2017-07-21 13:46] ryuichis commented on #412
Looks nice. @AbigailBuccaneer could you help incorporate something similar to `oclint-json-compilation-database`?

[2017-07-24 14:08] esteluk commented on #280
I'm still seeing this issue on the latest (0.12) version of OCLint.

[2017-07-24 15:00] ryuichis commented on #280
We will track this with issue #378

[2017-07-24 15:00] #280 closed

[2017-07-24 15:03] alistra commented on #280
Not exactly the same thing, as you may have non-system macros that experience this issue, as you always want to write macros defensively and you don't know when you will create extraneous parentheses, eg.

    #define SUM(a,b) (a+b)

Will be ok for:
    int a = SUM(6,7) * 4;

But will trigger the warning for:
    int a = SUM(6,7);

[2017-07-24 15:19] ryuichis commented on #378
Renamed this issue to cover a broader problem due to macro expansion. Thanks @alistra for pointing it out. I am copying over his original comment to this one:

    #define SUM(a,b) (a+b)

    int a = SUM(6,7) * 4;

    int a = SUM(6,7);

[2017-07-27 08:21] vicwan commented on #444
Sorry for being so late cuz I was developing new features and the Jenkins task has been suspended.

The command worked well by cleaning up the DerivedData folder before I ran the shell script. So, the xcodebuild clean is not powerful enough in this case. Thanks for your answer and the nice tool! :) @ryuichis

[2017-07-27 10:13] litianying137 opened #446 "help ~! in XCode custom OCLint rule debug model"
### how to launch OCLint in xcode with debug model.
I create OCLint custom rule,noew It can run with dylib. but i can't debug the custom rule in xcode,write code very hard.

[2017-07-27 10:13] ryuichi-assistant commented on #446
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-07-27 10:20] litianying137 opened #447 "How to launch OCLint in xcode with debug model."
### Issue Summary
How to launch OCLint in xcode with debug model.

### Environment
- Operation system name and version: MacOS
- OCLint version:4.0.0
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?
downloaded frome guthub.

### Reproduction Steps
1,I downloaded the OCLint source code form Git,
2,I used the ./make command builded zhe OCLInt p

[2017-07-27 10:21] #446 closed

[2017-07-27 11:12] litianying137 opened #448 "in iOS project, check class member variable whether implement with @property model issue."
### Issue Summary
AbstractASTVisitorRule's sub class VisitObjCIvarDecl method callback logic Does not meet AST dump result。

### Environment
- Operation system name and version: MacOS 10.12.5
- OCLint version:4.0.0
- How OCLint is installed: local build

### Reproduction Steps
1.I want write a rule to check the class memeber variable whether implement with @property
2.I through the 'clang -cc1 -as

[2017-07-27 11:57] litianying137 opened #449 "oclint command line"
### Issue Summary
oclint -R command failed

### Environment
- Operation system name and version:MaxOX10.12
- OCLint version: 0.12
- How OCLint is installed: local build

### Reproduction Steps
1.I want add the rule path
2.in terminal enter
[code]
3.the result
![image](https://user-images.githubusercontent.com/3120145/28669160-9f8eb484-7305-11e7-9afd-32f5b82cc684.png)

### Expected Behavior
add the

[2017-07-27 12:19] litianying137 commented on #449
and rc command
litianyingdeMacBook-Pro:AHOCLintTest tianying$ oclint -rc LONG_LINE=100
oclint: Not enough positional command line arguments specified!
Must specify at least 1 positional argument: See: oclint - help

[2017-07-27 12:53] UnrealQuester commented on #449
oclint expects a list of source files. You should append at least one source file to the oclint command or use `oclint-json-compilation-database`.

[2017-07-28 00:51] litianying137 commented on #449
@UnrealQuester  thanks for reply！
1.you see least one source file is the oclint config file? in /.oclint.
I try that command
[code]
2.I try used oclint-json-compilation-database command
[code]
3.if it is possible please show me the Correct command input string

[2017-07-30 12:08] litianying137 commented on #448
I thorugh the code filter the property
[code]
but now ,the iVar decl in head file no any callback like this code
[code]
I try all the Visit method,don't call back with the 'headIvarString' iVar.
How to get the iVar declear in the header file?

[2017-07-31 09:26] litianying137 commented on #448
Today,I discover that, if the @interface decl in .m file，the bool VisitObjCIvarDecl(ObjCIvarDecl *node) method will be callback。
but if @interface decl in the .h filename，the VisitObjCIvarDecl dont't callback。

[2017-07-31 10:00] litianying137 commented on #197
I am experiencing the same problem. how to deal with it?
@caojianhua @ozgur  thanks~!

[2017-07-31 21:26] UnrealQuester commented on #449
The source files are the files you want to analyze: `oclint -rc LONG_LINE=100 example.cpp`.
If you want to pass flags to oclint while using `oclint-json-compilation-database` you have to use `--`: `oclint-json-compilation-database -- -rc LONG_LINE=100`.

For more documentation and further instructions on how to get a compilation database out of you build  system, please consult the [documentation]

[2017-08-01 01:59] ryuichi-assistant commented on #434
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] #434 closed

[2017-08-01 01:59] ryuichi-assistant commented on #421
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] #421 closed

[2017-08-01 01:59] ryuichi-assistant commented on #415
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] #415 closed

[2017-08-01 01:59] ryuichi-assistant commented on #406
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] #406 closed

[2017-08-01 01:59] ryuichi-assistant commented on #390
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] #390 closed

[2017-08-01 01:59] ryuichi-assistant commented on #388
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] #388 closed

[2017-08-01 01:59] ryuichi-assistant commented on #382
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] ryuichi-assistant commented on #364
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] #364 closed

[2017-08-01 01:59] ryuichi-assistant commented on #363
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 01:59] #363 closed

[2017-08-01 02:00] ryuichi-assistant commented on #331
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #331 closed

[2017-08-01 02:00] ryuichi-assistant commented on #330
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #330 closed

[2017-08-01 02:00] ryuichi-assistant commented on #315
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #315 closed

[2017-08-01 02:00] ryuichi-assistant commented on #304
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #304 closed

[2017-08-01 02:00] ryuichi-assistant commented on #303
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #303 closed

[2017-08-01 02:00] ryuichi-assistant commented on #302
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #302 closed

[2017-08-01 02:00] ryuichi-assistant commented on #298
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #298 closed

[2017-08-01 02:00] ryuichi-assistant commented on #259
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #259 closed

[2017-08-01 02:00] ryuichi-assistant commented on #255
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #255 closed

[2017-08-01 02:00] ryuichi-assistant commented on #238
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #238 closed

[2017-08-01 02:00] ryuichi-assistant commented on #237
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 02:00] #237 closed

[2017-08-01 09:15] litianying137 commented on #449
o! I see！
before,I think the command change a default config file in oclint .
thanks UnrealQuester~!

[2017-08-01 09:15] #449 closed

[2017-08-01 09:24] litianying137 commented on #447
now I can debug oclint and rules in xcode IDE.
step1. used the cmake tool, create xcode project with each module
step2. ensure each project compile complete
step3.create a workspace, and content the all xcode project
step4.整理好每个project的依赖关系，特别是要oclint依赖你自己的rule，便于开发调试
step5.xcode中选择oclint-0.12scheme，edit scheme，添加运行参数如下
[code]
step6.开始开心用xcode的开发rule吧

[2017-08-01 09:25] #447 closed

[2017-08-01 10:13] litianying137 opened #450 "property decl in head file，the “bool VisitObjCPropertyDecl(ObjCPropertyDecl *propertyDecl)”don‘t callback"
### Issue Summary
My rule inherit from AbstractASTVisitorRule。
in test file, the property declare in headfile(.h)，the method “bool VisitObjCPropertyDecl(ObjCPropertyDecl *propertyDecl)”don‘t callback。
but the property declare in imp file(.m), the method “bool VisitObjCPropertyDecl(ObjCPropertyDecl *propertyDecl)”callbacked。
why？
I want visit the property declare in head file。
How to deal with the

[2017-08-01 10:13] ryuichi-assistant commented on #450
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-08-01 13:59] ryuichi-assistant commented on #232
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #232 closed

[2017-08-01 13:59] ryuichi-assistant commented on #228
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #228 closed

[2017-08-01 13:59] ryuichi-assistant commented on #224
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #224 closed

[2017-08-01 13:59] ryuichi-assistant commented on #202
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #202 closed

[2017-08-01 13:59] ryuichi-assistant commented on #181
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #181 closed

[2017-08-01 13:59] ryuichi-assistant commented on #175
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #175 closed

[2017-08-01 13:59] ryuichi-assistant commented on #174
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #174 closed

[2017-08-01 13:59] ryuichi-assistant commented on #148
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #148 closed

[2017-08-01 13:59] ryuichi-assistant commented on #145
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #145 closed

[2017-08-01 13:59] ryuichi-assistant commented on #142
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 13:59] #142 closed

[2017-08-01 14:00] ryuichi-assistant commented on #131
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-08-01 14:00] #131 closed

[2017-08-01 19:41] henryxu-BBM opened #451 "oclint inconsistent when producing output file."
### Issue Summary
Running `sudo oclint-json-compilation-database -v -i ./<Src> -- -max-priority-1 15000 -max-priority-2 15000 -max-priority-3 15000 -report-type pmd -o sonar-reports/oclint.xml` will work some times and will fail other times.  When it doesn't work, this error is produced: "cannot open report output file <filepath>/sonar-reports/oclint.xml".  When running the command without an outp

[2017-08-02 06:34] litianying137 commented on #450
通过查看OCLint 源码发现是oclint故意过滤掉了头文件内容的检查回调，可能是为了性能与，并且不处理系统的头文件，可是我们自己的头文件怎么能被检查呢？

[2017-08-02 09:04] litianying137 commented on #450
在rule中用以下代码解决了当前分析的文件的头文件也被分析的问题。满足了目前的需求    ！
[code]

[2017-08-02 09:15] #450 closed

[2017-08-02 09:22] litianying137 commented on #448
已经解决了~！ 我这个是GitHub是单机版的吗？
[my solution](https://github.com/oclint/oclint/issues/450)

[2017-08-02 09:22] #448 closed

[2017-08-03 02:25] liuluchang opened #452 "sonarqube+OClint 统计显示问题"
当我通过执行oclint-json-compilation-database -e Pods -v -- -report-type pmd -o report.xml -max-priority-1=19999 -max-priority-2=19999 -max-priority-3=19999  -rc=LONG_LINE=500 -rc=NCSS_METHOD=1000，生成xml后缀的文件后并将结果传送到sonarqube后，我发现sonarqube的界面只会显示坏味道的统计，而不会显示bugs的数量，我试了三个工程都是一样的结论，请问这样的结果合适吗？不合适的话有木有解决的办法
![69ca9350-c21e-4638-9292-289861223154](https://user-images.githubusercontent.com/8243170/28903189-145

[2017-08-03 02:25] ryuichi-assistant commented on #452
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-08-06 15:13] colourful987 commented on #444
I used python script wrote by @wuwen1030 , because the size of compile_commands.json file is too large that could produce "OSError: [Errno 7] Argument list too long"。However the `oclint-json-compilation-database` python script always waiting for the exit code of ` subprocess.call(oclint_arguments)` command。 I followed @ryuichi-assistant suggestions，deleted DerivedData File and `xcodebuild clean` ，

[2017-08-10 07:34] tianshunjian commented on #436
I met this problem too. Have you resolved it now, and how to do with it?

[2017-08-11 01:00] newfun1994 commented on #436
@tianshunjianI have not solved yet

[2017-08-11 01:00] newfun1994 commented on #436
@tianshunjian I have not solved yet

[2017-08-11 09:24] tianshunjian commented on #436
So do you get any thing replacing OCLint?

[2017-08-14 02:26] newfun1994 commented on #436
@tianshunjian you can try Infer

[2017-08-14 02:37] Yueeeeee commented on #290
@Soryu what did you do with xctool to solve the problem

[2017-08-14 03:13] tianshunjian commented on #436
can you install Infer successfully? When I install it, Downloading https://ocaml-extlib.googlecode.com/files/extlib-1.5.3.tar.gz failed.

[2017-08-14 03:28] ryuichis commented on #436
@newfun1994 @tianshunjian This conversation is out of topic.

[2017-08-14 06:51] UnrealQuester commented on #451
There may be multiple reasons why oclint cannot create the report file:
- The file system is out of inodes
- The file system is out of space
- The folder `sonar-reports` might not exist in the current directory
- No write permissions on the file (if it already exists)

Can you check if one of these is the case?

[2017-08-16 02:53] litianying137 opened #453 "NS_ENUM、NS_OPTION Visit failed~！"
### Issue Summary
NS_ENUM、NS_OPTION Visit failed~！

### Environment
- Operation system name and version:MAC OS
- OCLint version:0.12
- How OCLint is installed: local build

### Reproduction Steps
1,I want visit the enum name and the enumConstant name.
2,In the test code, i define a enum
[code]
3,but my rule's VisitEnumDecl and VisitEnumConstantDecl function don't callback whit the NS_ENUM
4,I know

[2017-08-16 05:13] tianshunjian commented on #302
I got this problem too.  I tried @bart-kneepkens' method, however, it did not work. Then I uninstall the OCLint, and brew install OCLint again. But the problem is still there.
I have OCLint 0.12 installed and os X 10.12.6.

[2017-08-16 14:52] ryuichis commented on #453
This is truly an interesting issue. I also tried to expand the macro, step by step, as shown in https://gist.github.com/ryuichis/5d4b826eb38284dc31012b6e7da97038.

I also observed the symptom that `VisitEnumDecl` method is indeed not called if it is from a macro expansion. `C5`, on the other side, is an example to show that the method is called without macro expansion.

We delegate this to clang's

[2017-08-17 06:24] litianying137 commented on #453
@ryuichis thank your reply！
Is there other way to visit the enumConstant name which in NS_ENUM?

[2017-08-17 16:03] ryuichis commented on #453
While `SourceCodeReaderRule` feels like clumsy, it might serve as a temporary workaround before it gets fixed.

And it's interesting to realize that although github.com is unblocked in mainland China, gist is still not:

![screen shot 2017-08-17 at 11 01 24 am](https://user-images.githubusercontent.com/4386920/29421761-aa6a8af4-833b-11e7-8f79-7be6b93c0097.png)

[2017-08-18 08:14] tianshunjian commented on #302
@ryuichi-assistant I have found why the problem happened for me. In some header files, I define some variables using "#define" as shown below:
![12](https://user-images.githubusercontent.com/11658904/29450126-01ba73ba-8430-11e7-8697-7054bb6a013b.png)

then I use these variables in another file with importing that header file.
OCLint will treat it as undeclared identifier. Thus print a lot of "n er

[2017-08-18 09:15] tianshunjian commented on #302
@ryuichi-assistant In addition, I create a category file for a viewController, e.g. TestViewController and TestViewController+Sub, then all the methods (e.g. methodA) defined in the TestViewController+Sub.h will cause the error: missing context for method declaration. And When I use [self methodA] in the TestViewController.m, OCLint will also treat it as a error.
Meanwhile, properties (e.g. proper

[2017-08-19 15:00] Dis3buted commented on #382
cmake -G "Xcode" ../llvm-4.0.1.src works for me

[2017-08-19 15:18] litianying137 commented on #453
o！  thanks your suggest~！I will have a try。

[2017-08-19 15:46] litianying137 opened #455 "How to get the end event after anayze all source file?"
### Issue Summary
I want write a rule to check the unused class in project.So i need know the all anayze completed event.
My idea：
     1，Through visit class implement to record all of class in the project。
     2，Through visit method implement and anaylze stmt to record all used class
     3，After all scan completed ,unusedClass = allClass - usedClass;

First:
     I can't find the event in Abstr

[2017-08-21 00:20] JohnCoates commented on #382
@Dis3buted

Running that only built an Xcode project for llvm, and I didn't see any OCLint targets. For reference here all the commands I ran:

[code]

[2017-08-21 03:43] JohnCoates commented on #382
Figured it out! Here are the commands I ran to get oclint-rules compiling in Xcode.
After running all of these commands you need to open the Xcode projects for oclint-core and oclint-metrics and compile those before oclint-rules will compile.

[code]

[2017-08-21 19:43] JohnCoates commented on #382
Thanks for the suggestions @ryuichis. I've attached a rst document
 with the instructions, how does it look?
[xcodeDevelopmentEnvironment.txt](https://github.com/oclint/oclint/files/1239947/xcodeDevelopmentEnvironment.txt)

[2017-08-22 00:31] litianying137 commented on #455
I know the two function, and I first used the tearDown function to processed.
But the tearDwon function invoked after analyze one astContext.(one astContext is same as one source file in oclint)
I want know the completed event after analyze all astContext.
Because, I need after visit all ast context completed to get result.

[2017-08-22 00:41] JohnCoates commented on #298
Great addition, @bok!

[2017-08-22 03:43] ryuichis commented on #455
I am trying to understand you better: if you are globally inspecting the code, then you must have some sort of static variables that can be accessed among all rules? If that's the case, then you can read from that static variable after all the analysis is done.

[2017-08-22 05:56] litianying137 commented on #455
How to know all the analysis is done in rule？Which function will be callback after all the analysis is done?

[2017-08-24 20:22] #451 closed

[2017-08-28 21:19] michaeleiselsc opened #458 "Failure for new clang features"
### Issue Summary
When I run OCLint with a file that uses the new `@availability` syntax, e.g.:
[code]
OCLint gives me the error, "unrecognized platform name iOS". I guess OCLint's version of clang just doesn't support this feature? It would be great if it did, as Xcode 9 GM, whose version of clang supports that, is just around the corner. The company I work for would have to choose between new cl

[2017-08-28 21:19] ryuichi-assistant commented on #458
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-08-28 21:23] michaeleiselsc commented on #458
done

[2017-08-29 01:20] oNaiPs opened #459 "Feature Request: Single statement bracket check"
### Issue Summary
Single statements without brackets like
[code]
Instead, it should be written as:
[code]
Are error prone, such as the infamous Apple SSL `goto fail;` bug.
I think this could be a good optional style rule, with defect reducing implications.

I'm a C++ developer with experience, would be up to implement it if you could could give me some lights on how can I navigate the AST to do th

[2017-08-29 01:20] ryuichi-assistant commented on #459
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-08-29 07:29] UnrealQuester commented on #458
This looks like a new feature in clang 5.0.0. If you can, try to compile the latest master, which now uses llvm-5.0.0.

[2017-08-30 08:40] UnrealQuester commented on #459
Not sure if this should be in oclint instead of a code formatting tool like uncrustify. Still, I do agree that the second style should be preferred.

If you want to try to write your own rule, take a look on how already existing rules are implemented using the `AbstractASTVisitorRule`. You can use `clang -Xclang -ast-dump -fsyntax-only example.cpp` to examine the AST generated by clang.

Looke lik

[2017-08-31 16:10] amendgit commented on #187
I have the same issue, is there any solution or workaround for this now. Thanks.

[2017-09-01 13:44] ryuichis commented on #459
Interesting, I thought we have that rule in place, but I was wrong. Pull request welcomes. Same idea could apply to `ForStmt`, `WhileStmt`, and many others.

[2017-09-01 13:47] ryuichis commented on #458
Looks like LLVM delays its 5.0.0 release (scheduled to be Aug 23). We will cut an official build immediately after they generate theirs.

[2017-09-01 13:51] ryuichis commented on #382
Nice, by looking at this, I started to think it will be better to add a script to `oclint-scripts` folder that automates the entire thing. And then, your document could be simplified to just call that script. What do you think?

[2017-09-01 19:50] michaeleiselsc commented on #458
thanks!

[2017-09-03 01:59] ryuichi-assistant commented on #452
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-09-03 01:59] #452 closed

[2017-09-04 01:59] ryuichi-assistant commented on #236
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-09-04 18:00] vlnj opened #460 "Execute oclint for source directory"
### Issue Summary
I'm running oclint using command line parsing each files as arguments, is there a way to run oclint for a particular source folder instead of parsing every source file.

### Environment
- Operation system name and version: Mac
- OCLint version: 0.12
- How OCLint is installed: prebuilt binary downloaded from github

[2017-09-04 18:00] ryuichi-assistant commented on #460
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-09-04 18:04] vlnj commented on #460
done

[2017-09-04 19:33] oNaiPs commented on #459
@UnrealQuester you're right, I actually just noticed uncrustify has this (and similar for other blocks) rule,
[code]

So I think i'm gonna use it on our project for the time being. Feel free to close the issue if you think its best.

[2017-09-05 06:51] vlnj commented on #460
Hi any update on this?

[2017-09-05 10:06] JohnCoates commented on #382
Yeah that sounds like a simpler solution!

[2017-09-06 15:04] UnrealQuester commented on #460
You could use [oclint-json-compilation-database](http://docs.oclint.org/en/stable/manual/oclint-json-compilation-database.htmll) with a compile_commands.json produced by your build system and then use `-include` to only select the the folder you want.

[2017-09-08 01:16] vlnj commented on #460
Thank you .

[2017-09-18 08:46] nicked commented on #458
LLVM 5.0.0 has been out for a couple of weeks now, any chance of a new OClint release based on it please? :)

[2017-09-18 13:22] ryuichis commented on #458
I have the binaries, but have noticed a change on macOS high sierra that require me to ship two binaries, each for sierra and high sierra. But since high sierra is not official released, many tools, such as homebrew, do not support it quite yet.

Technically I can upload the binaries and tag the release, but I don't want to add confusions.

If you want to cut a build yourself, you can check out my

[2017-09-21 01:57] jiehu5114 commented on #441
build it locally, and has the same issue

oclint: error: one compiler command contains multiple jobs:
 "/Users/hujie/Desktop/git/oclint/build/oclint-release/bin/oclint-0.13-rc2" "-cc1" "-triple" "x86_64-apple-ios10.0.0" "-Wdeprecated-objc-isa-usage" "-Werror=deprecated-objc-isa-usage" "-Werror=implicit-function-declaration" "-fsyntax-only" "-disable-free" "-disable-llvm-verifier" "-discard-value-n

[2017-09-21 02:16] ryuichis commented on #441
@jiehu5114 the arguments I read from your post do not contain any objective-c files. Is this everything that oclint throws to the terminal?

[2017-09-21 02:28] jiehu5114 commented on #441
run  oclint-json-compilation-database,   then oclint: error: one compiler command contains multiple jobs:

hujiedeMacBook-Pro:ios hujie$ oclint-json-compilation-database

oclint: error: one compiler command contains multiple jobs:

[2017-09-21 02:56] jiehu5114 commented on #221
have  the same  issue

[2017-09-21 20:28] MichaelKellyTD commented on #441
Just want to add that I am also seeing this issue with the latest OCLint RC and Xcode 9 release.  I want to add that I am using CocoaPods and dynamic frameworks, with or without xcpretty so not sure what isn't playing well with each other in Xcode 9.  My verbose output does show that there are, in fact two commands that are attempted to be run. One for:
"/Users/<My User>/Library/Developer/Xcode/De

[2017-09-25 14:02] DanBodnar commented on #441
I am having the same issue. I use oclint on my local machine for some Jenkins jobs on multiple projects. After the update to Xcode 9, none of my projects are building now...
If I run the command `oclint "/Users/Shared/Jenkins/Home/workspace/MyProject/MyProject/MyProject.m"`, it seems that oclint really has 2 jobs (see bellow), but I am not sure where does it pick them, since the line above it is p

[2017-09-26 16:50] dynamicdispatch opened #462 "oclint: error: one compiler command contains multiple jobs:"
### Issue Summary
Seeing a similar issue to #221, where I get an error of `oclint: error: one compiler command contains multiple jobs:` when trying to run OCLint.

### Environment
- Operation system name and version: macOS 10.12.6
- OCLint version: 0.12 & 0.13
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others? Tested with local build and prebu

[2017-09-26 17:13] MichaelKellyTD commented on #462
Also reported in [#441](https://github.com/oclint/oclint/issues/441)

[2017-09-26 17:23] dynamicdispatch commented on #462
Appears this might be related to the new "Enable-Index while Building" setting. By disabling `COMPILER_INDEX_STORE_ENABLE` I was able to get further in the build process. I now see this:

[code]

[2017-09-26 17:41] ryuichis commented on #462
This type of issues, based on its reporting history, always happen during the time from June (WWDC, and developer beta versions) to Sept (the GM is finally available), when many things are in a transition unstable state. I speculate this is the same case this year.

Usually a new OCLint that matches the macOS/Xcode version will fix the issue. The High Sierra was finally officially released yesterd

[2017-09-26 17:49] dynamicdispatch commented on #462
Thanks @ryuichis, I'll test that out. Your link doesn't work for me?

[2017-09-27 08:52] cuixuejiao commented on #462
https://github.com/oclint/oclint/releases/download/untagged-91b3ee2c6975e6f3ed68/oclint-0.13-x86_64-darwin-17.0.0.tar.gz
@ryuichis Does this link correct? 404 not found....

[2017-09-29 05:58] xiaoyier opened #464 "so many problems i have met, but i don't wanna give up!"
### Issue Summary
1 could not build module 'UIKit'
2 generate errors
3 report empty
4 multi jobs problem
5 olin-json-compilation-database command not found

### Environment
- Xcode9  macOS10.12.6
- OCLint version:
- 0.12 local build

### Reproduction Steps
i just doubt that can i use oclint successfully? there are so many problems, and i have spend almost one week on it, but how can i fix so many

[2017-09-29 05:58] ryuichi-assistant commented on #464
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-10-02 08:49] shorbenko commented on #462
If you are using Cocoa Pods don't forget to set COMPILER_INDEX_STORE_ENABLE for all pod targets.
[code]

[2017-10-03 09:13] kronenthaler commented on #462
Xcode9, macOS 10.12.6 and oclint 0.13 doesn't work with disabling COMPILER_INDEX_STORE_ENABLE (=NO).
I tried both version published on the Release page (16.7.0 and 17.0.0) without luck.

[2017-10-06 01:59] ryuichi-assistant commented on #444
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-10-06 12:18] fooksupachai opened #465 "What's the difference using Lizard or OCLint to populate SonarQube Objective-C Complexity measures?"
### Issue Summary
A brief but thorough description of the issue.

### Environment
- Operation system name and version:
- OCLint version:
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?

### Reproduction Steps
Detailed steps to reproduce the issue.

#### Sample code

[code]

Command to run OCLint with the code above.

### Expected Behavior
W

[2017-10-10 21:15] stevereaver opened #466 "Compile OCLINT 0.13 on Solaris"
### Issue Summary
I am a sysadmin and am attempting to compile OCLINT 0.13 on Solaris 11.3 for our developers, however it keeps failing at 18%

My tool chain is such that I am able to compile the latest versions of llvm and clang. However OCLINT fails. How do I find out what has broken here ?

### Environment
- Operation system name and version: SunOS itgcore0 5.11 11.3 sun4v sparc SUNW,Sun-Fire-T

[2017-10-11 00:35] ryuichis commented on #466
OCLint depends on LLVM/Clang, and your error happens at the compilation phase of LLVM. Do you know if LLVM works on Solaris? http://clang.llvm.org/ may help on that front.

I am humbly thrilled to see people try to use OCLint on Solaris, so I'll let this issue open for a while. Let us know if you get LLVM/Clang to work on Solaris, and I will try to help the next steps.

[2017-10-11 09:54] workhardupc commented on #462
same as @kronenthaler, not work

[2017-10-15 22:22] stevereaver commented on #466
I think I am getting close now. When I compile clang using  ./clang build -j 1  The build and install completed. I had to explicitly set the jobs to 1 because the linking was using so much memory it was getting mmap error.  So my assumption is that the above error is also due to memory, how do I set the job count when using the ./make script to build ?  can I just change the ci script as follows ?

[2017-10-16 00:09] xguerin opened #467 "SEGFAULT in LongMethodRule.cpp:20"
### Issue Summary
Segmentation fault while analyzing a particularly long file. Here is the back trace:

[code]

Looking at the code, the issue seems to be that `compoundStmt` line 20 of `LongMethodRule.cpp` is `nullptr`.

### Environment
- Operation system name and version: High Sierra
- OCLint version: 0.13
- How OCLint is installed: homebrew cask

### Reproduction Steps

I am trying to use OCLin

[2017-10-16 01:46] diaojunxian commented on #462
same as @kronenthaler , not work again

[2017-10-16 04:28] dingjingpisces2015 commented on #221
xcode9 ,  oclint-0.11.1 still have the problem

[2017-10-16 07:56] garnetwzy commented on #462
same as @kronenthaler , not work again

[2017-10-16 09:58] lubbo commented on #462
Xcode9, macOS 10.12.6 and oclint 0.13

Setting COMPILER_INDEX_STORE_ENABLE on all projects (pods and not):

`Exit status of command 'cd /___/platform-ios && oclint -report-type=pmd -o=/___/platform-ios/iOS/lib/___/Build/fastlane_workspace/oclint-reports/oclint.xml -list-enabled-rules -rc=LONG_LINE=200 -max-priority-1=10000 -max-priority-2=10000 -max-priority-3=10000 -p /___/platform-ios/iOS/lib/__

[2017-10-17 03:57] dingjingpisces2015 opened #469 "fatal error: MSpanList_Insert oclint(0.13, commit : 089e21)"
### Issue Summary

when excuting make on oclint/script dir, error occur

[code]

### Environment
- Operation system name and version:  macOS Sierra 10.12.6
- OCLint version: 0.13
- How OCLint is installed: local build

### Reproduction Steps

[code]

### Expected Behavior
Build oclint successfully

### Actual Behavior
Error occur

[2017-10-17 03:57] ryuichi-assistant commented on #469
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-10-18 04:00] dingjingpisces2015 commented on #469
after install ninja, problem solved
[code]

[2017-10-18 04:00] #469 closed

[2017-10-21 15:51] #467 closed

[2017-10-21 16:16] ryuichis commented on #466
I would suggest creating your own `makeOnSolaris` file, and have something like this:

[code]

Can you help verify if this script works for you? If it does, maybe you can create a pull request with this.

[2017-10-21 16:23] ryuichis commented on #465
Sorry, but I don't think I've heard of Lizard. Maybe it's a good question to ask SonarQube?

[2017-10-21 16:23] #465 closed

[2017-10-21 16:27] ryuichis commented on #464
I really hope I can help, but based on the information you provided, there is nothing I can do about it. If you can help provide detailed steps of how to reproduce your issue, then maybe we could have more serious conversations.

[2017-10-21 16:27] #464 closed

[2017-10-21 16:32] #460 closed

[2017-10-22 01:59] ryuichi-assistant commented on #455
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-10-24 07:16] brucenan opened #470 "can't find libssl.a and libcrypto.a when ./make oclint"
### Issue Summary
can't find libssl.a and libcrypto.a when ./make oclint

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
CRYPTO_STATIC_LIB
    linked by target "oclint-0.13" in directory /citools/oclint-0.13/oclint-driver
SSL_STATIC_LIB
    linked by target "oclint-0.13"

[2017-10-27 01:51] stevereaver commented on #466
Firstly, let me thank you for the above. I was able to use it however I have had to make a few changes;

`./ci -reset
./ci -setup
./clang build -j 1
./build -j 1
./bundle
./bundle -archive -release`

I was not able to use the -release option for ./clang as it seems that it does not honour the -j option if -release is set. That causes a problem on this system as it has 16 cores and when the linking

[2017-10-27 03:08] garnetwzy opened #472 "want to know how to debug the oclint source code!!"
### Issue Summary
I have the need to change the oclint source code to meet my need, but I don't know use what IDE to excuate the souce code of oclint. So the only way to debug my version of oclint code is to compile the source code and test on the  program, feeling very stupid..
I am new to oclint, and I want to know use what IDE to debug the oclint source code, thank you!
### Environment
- Operat

[2017-10-27 03:08] ryuichi-assistant commented on #472
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-10-27 09:34] maddin200 opened #473 "out of bounds"
oclint-reporters\reporters\XMLReporter.cpp  line 52

char charNow[20];
        sprintf(charNow,
            "%04i-%02i-%02iT%02i:%02i:%02iZ",  (**** = 20 ****)
            tmNow->tm_year + 1900,
            tmNow->tm_mon,
            tmNow->tm_mday,
            tmNow->tm_hour,
            tmNow->tm_min,
            tmNow->tm_sec);

[2017-10-27 09:34] ryuichi-assistant commented on #473
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-10-27 15:39] UnrealQuester commented on #473
Yup, looks like the output is exactly 20 characters long, meaning we would write a null byte outside of the array.

[2017-10-27 15:40] UnrealQuester commented on #466
Looks like you are missing a few libs. Maybe this is the same error as #470?
Maybe you could try building with `-no-analytics`.

[2017-10-27 15:42] UnrealQuester commented on #470
Do you have the appropriate libs from centos installed on your system? I think the package is called `openssl-devel`.

[2017-10-27 23:28] #473 closed

[2017-10-29 01:59] ryuichi-assistant commented on #324
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-10-29 01:59] ryuichi-assistant commented on #236
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-10-29 01:59] #236 closed

[2017-10-31 05:42] a13906285175 commented on #462
same as @kronenthaler, not work.
`Xcode9, macOS 10.12.6 and oclint 0.13 doesn't work with disabling COMPILER_INDEX_STORE_ENABLE (=NO).Set COMPILER_INDEX_STORE_ENABLE for all pod targets. `

[2017-10-31 06:34] garnetwzy commented on #472
need answer! Thank you.

[2017-10-31 08:01] a13906285175 commented on #462
It works after settings COMPILER_INDEX_STORE_ENABLE = NO on all projects (pods and not).But So many "1 error generated" logs ...

[2017-11-04 01:59] ryuichi-assistant commented on #459
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-11-04 07:09] UnrealQuester commented on #472
I just run oclint under `gdb` to debug. Which is probably how most IDEs do it, just with a nicer interface.

[2017-11-06 01:59] ryuichi-assistant commented on #444
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-11-06 01:59] #444 closed

[2017-11-08 06:25] garnetwzy commented on #472
@UnrealQuester I see. But I have another question: when I change the oclint source code a little bit, I don't know if my code can run right, so I need to use the ./make to compile the source code and see the result. It usually takes me a lot of time, and if my code has something wrong, then I need to correct my code and do the ./make again, waste a lot of time and feeling very stupid. Do you have

[2017-11-08 07:36] UnrealQuester commented on #472
If you did a full build once using `./make`, you can do incremental builds by first doiing `./build` followed by `./bundle`.

[2017-11-08 08:01] garnetwzy commented on #472
@UnrealQuester I see. Thanks a lot~

[2017-11-08 09:12] NicolasCARPi opened #476 "[oclint-docs] Community link is 404"
### Issue Summary
The "getting involved" link found at the bottom of https://github.com/oclint/oclint-docs/blob/master/intro/overview.rst is not working.

### Reproduction Steps
* Go to http://docs.oclint.org/en/stable/intro/overview.html#get-involved
* Click [getting involved](http://oclint.org/community.html) link
* "Houston, we have a problem!"

### Expected Behavior
See how to get involved :p

[2017-11-08 09:12] ryuichi-assistant commented on #476
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-11-08 09:13] NicolasCARPi commented on #476
@ryuichi-assistant That's because I removed the irrelevant parts, being a documentation issue.

[2017-11-08 13:30] hujiachun opened #477 "oclint: Not enough positional command line arguments specified!"
### Issue Summary
command:oclint-json-compilation-database -e Pods -v -- -report-type html -o report.html

### Environment
- Operation system name and version:osx
- OCLint version:.13
- How OCLint is installed: local build

### Expected Behavior
It works.

### Actual Behavior
[code]

[2017-11-08 13:30] ryuichi-assistant commented on #477
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-11-08 13:40] hujiachun opened #478 "oclint: Not enough positional command line arguments specified!"
### Issue Summary
command:oclint-json-compilation-database -e Pods -v -- -report-type html -o report.html

### Environment
- Operation system name and version:osx
- OCLint version:.13
- How OCLint is installed: local build

### Expected Behavior
It works.

### Actual Behavior
[code]

[2017-11-08 14:56] UnrealQuester commented on #478
I think it should be `-report-type=html` instead of `-report-type html`. Note the equals sign instead of a space.

[2017-11-09 01:32] hujiachun commented on #478
@UnrealQuester hi
I tried it, not for that reason

[2017-11-09 14:48] UnrealQuester commented on #478
It looks like the oclint command produced by `oclint-json-compilation-database` does not contain any sources. Can you check the contents of your compile_commands.json to see if it is empty or only contains files from `Pods` that get filtered out? Also it looks like we do a regex search for the filter in the source list, so we would also filter out all paths containing the word `Pods`, regardles of

[2017-11-09 18:52] ryuichis commented on #477
Dup #478.

[2017-11-09 18:52] #477 closed

[2017-11-09 18:58] ryuichis commented on #476
Good catch. Just fix it on the oclint-docs repo.

[2017-11-09 18:58] #476 closed

[2017-11-09 18:58] #472 closed

[2017-11-13 07:28] litianying137 opened #479 "call AbstractASTVisitorRule::isLanguageSupported() crash!!! in my apply method"
### Issue Summary
isLanguageSupported method crash

### Environment
- Operation system name and version:
- OCLint version:0.13
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?

### Reproduction Steps
My custom rule run well in oclint 0.12 version.
But in oclint 0.13 my rule cannot run， and I find crash when call isLanguageSupported（）

#### S

[2017-11-13 08:38] UnrealQuester commented on #479
Can you run oclint under `gdb` and show us the stack trace for the crash?

[2017-11-13 13:34] LucianoPAlmeida opened #480 "OCLint show many 'n errors reported.' messages and generating an empty report."
### Issue Summary
Hi :)
I'm running OCLint on my project and on the sample I created, and it shows a lot of messages of 'n errors reported.' and the report pmd is generated empty.

![screen shot 2017-11-13 at 10 14 41](https://user-images.githubusercontent.com/8292651/32728046-ff1f5f10-c865-11e7-8540-8fc3d96ac6d1.png)

### Environment
- Operation system name and version: macOS Sierra 10.12.6
- OCL

[2017-11-14 01:18] litianying137 commented on #479
@ryuichis
Step1:I copy the origin my rule lib to 0.13 rules floder. custom rule cannot launch.
Step2:Then I download the oclint 0.13 source, and rebuild my custom rule in zhe source code. My fule still cannot run。I find crash at call isLanguageSupported。

Now I try to create oclint 0.13 xcode debug environment，for get the crash detail information~！

[2017-11-14 08:01] litianying137 commented on #479
@ryuichis
Now I can debug oclint in xcode.
but get the compiling error~!
![image](https://user-images.githubusercontent.com/3120145/32768950-e65f84ec-c954-11e7-84dc-90dbea9b56af.png)
I clone oclint 0.13 source code from github ,master branch.

[2017-11-14 09:01] litianying137 commented on #479
@ryuichis
Step1:I just copied the origin my rule .dylib to 0.13 rules floder. custom rule cannot launch.
Step2:Then I download the oclint 0.13 source code, and rebuild my custom rule with zhe source code in OCLINT_RULES.xcodeproject. I copied the rebuild rule's dylib to rule floder , My rule still cannot run。I find crash at call isLanguageSupported with log info。
@UnrealQuester
Now I try to create

[2017-11-14 13:38] ryuichis commented on #480
Hi @LucianoPAlmeida, this is a frequently reported issue, and finally, someone is willing to provide a sample project for us to look into. Appreciate that first of all.

However, when I tried your sample, I couldn't even get it to compile without errors. So, if you are open to it, I need your help to set up your sample on Travis CI, and make it fail with `n errors generated`. A good starting point

[2017-11-14 13:42] ryuichis commented on #479
Yeah, what you described in step 1 is expected to fail.

I am not quite sure the `OCLINT_RULES.xcodeproject` part in step 2, at least, building custom rules inside Xcode is not officially supported, so I don't have personal experience with it.

Maybe after seeing your crash log, @UnrealQuester and I will try to assistant.

[2017-11-15 01:26] litianying137 commented on #479
OH！
Sorry~! My mistake！
Yesterday I rebuild my rule dylib with rule project. [crash]
Today I rebuild my rule dylib with the oclint project.[successed]
Thanks~! @ryuichis @UnrealQuester

[2017-11-15 20:16] LucianoPAlmeida commented on #480
Hey @ryuichis
Thank you for looking into this, I set up the sample on travis, running on the same conditions that I ran in local machine and in the bitrise CI, you can see this on https://travis-ci.org/LucianoPAlmeida/SampleOCLint/builds/302661356

[2017-11-15 22:45] ryuichis commented on #479
Glad to hear you have figured it out. I am closing this one now.

[2017-11-15 22:45] #479 closed

[2017-11-16 12:05] WishQi commented on #462
I have the same problem. And the methods above did not work for me.

[2017-11-16 16:28] ryuichis commented on #480
Splendid, that is exactly what I am looking for. Thank you first of all. And I have been looking into this, and hopefully will get something back to you later this week. Meanwhile, you can track my progress at my fork: https://github.com/ryuichis/SampleOCLint

[2017-11-16 17:12] LucianoPAlmeida commented on #480
@ryuichis Thank you for taking a look into this. Anything you need me to do in the sample or on Travis, just let me know :)

[2017-11-17 10:28] burnsauce commented on #470
Encountered this issue.  Static libraries are in package openssl-static on CentOS.

[2017-11-17 12:23] GipsySh commented on #462
macOS Sierra 10.12.6
Xcode: 9.1

I've dowloaded archive from https://github.com/oclint/oclint/releases/download/v0.13/oclint-0.13-x86_64-darwin-17.0.0.tar.gz and then replaced my installed oclint files and folders with the appropriate ones from the archive. But unfortunately the error still occurs.

[2017-11-17 16:54] UnrealQuester commented on #470
@burnsauce In this case the only option might be to build without analytics by invoking `./build` with the `-no-analytics` flag.

[2017-11-17 20:45] Svet-00 commented on #470
Same issue on Arch linux.

[2017-11-18 09:11] burnsauce commented on #470
On Arch you're going to need to build openssl with the static-libs USE flag.

[2017-11-21 06:46] congpc commented on #462
It works for me. I using MacOS 10.13, Version 9.0 (9A235), OCLint 0.13.

1.`cd current project folder`
2.`xcodebuild -target Target -configuration Debug -scheme Scheme -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6'  CLANG_ENABLE_MODULE_DEBUGGING=NO CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ENABLE_BITCODE=NO COMPILER_INDEX_STORE_ENABLE=NO | tee xcodebuild.log | xcpret

[2017-11-22 01:59] ryuichi-assistant commented on #455
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-11-22 01:59] #455 closed

[2017-11-27 09:23] CoreOne23 commented on #462
thanks @congpc .

[2017-11-27 10:02] cuixuejiao opened #481 "How to disable Compiler diagnostics in oclint report?"
### Issue Summary
Basically, Summary, A list of violations, A list of violations, and OCLint information would be found in the oclint report. Bug I don't want compiler errors and compiler warnings in my report.

### Environment
- Operation system name and version: 10.12.6
- OCLint version: 0.13
- How OCLint is installed: prebuilt binary downloaded from github

### Reproduction Steps
oclint-json-co

[2017-11-27 10:16] silan-liu commented on #447
有demo吗， -p是什么命令需要的

[2017-11-27 17:30] UnrealQuester commented on #481
oclint takes the warnings directly from the compiler. If you do not want these warnings in your report, you cannot have warnings enabled in your compile flags.

You can either make sure that your compile commands do not contain any warning flags or disable them by adding `-extra-arg=-Wno-everything` to the oclint flags. You can append the option like this:
`oclint-json-compilation-database <YOUR O

[2017-11-28 00:58] cuixuejiao commented on #481
-extra-arg=-Wno-everything

This parameter works! Thank you so much~@UnrealQuester

[2017-11-28 00:58] #481 closed

[2017-11-28 14:06] BigNewbiePlus opened #482 "/usr/bin/ld: 找不到 -lOCLintMetric"
**When I run `./test rules`  I meet these bugs, I donnt know how to fix it, Any Advise?**
LLVM_ROOT: /home/fdh/oclint/build/llvm-install
-- Found LLVM LLVM_PACKAGE_VERSION: 5.0.0svn-r319156 - LLVM_VERSION_RELEASE: 5.0.0
-- Using LLVMConfig.cmake in: /home/fdh/oclint/build/llvm-install/lib/cmake/llvm
-- Configuring done
-- Generating done
-- Build files have been written to: /home/fdh/oclint/build/

[2017-11-28 14:06] ryuichi-assistant commented on #482
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-11-28 14:42] #482 closed

[2017-11-28 14:47] BigNewbiePlus commented on #482
Sorry for that I run the command uncorrectly. I run `./test rules` before `./test` .when i first run `./test` and then `./test rules` It works fine!  I have closed this issue.

[2017-11-29 01:59] ryuichi-assistant commented on #324
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-11-29 01:59] #324 closed

[2017-11-29 14:03] BigNewbiePlus opened #483 "fatal error: 'stddef.h' file not found"
### Issue Summary
I write a custom rule and want to test it. The rule check whether int pointer equals `NULL`. `NULL `is defined in head file `stddef.h` . **Test  Error** when  I include system header file `cstddef` in sample code(see below). What's the right step to include head file for googleTest?

### Environment
- Operation system name and version: **ubuntu:14.04**
- OCLint version: **0.13**

[2017-12-01 09:25] eiauo opened #484 "when i use -enable-clang-static-analyzer option, how can i specify parameters for selection clang rules?"
### Issue Summary
when i use -enable-clang-static-analyzer option,  which  analyzer-checker is selected?

How can i specify  parameters for selection another clang rules checker?

[2017-12-01 09:25] ryuichi-assistant commented on #484
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-12-01 14:54] BigNewbiePlus commented on #484
Look at this [clang-static-analyzer-options](http://docs.oclint.org/en/stable/manual/oclint.html#clang-static-analyzer-options) It means the oclint will collect your info  and  analysis but not for rule check. however, it is anonymous analytics

[2017-12-01 15:09] UnrealQuester commented on #483
You may have to manually add some include flags. This is sadly a common problem for libclang based projects. See for example https://github.com/jeaye/color_coded#stdargh-file-not-found and https://github.com/Valloric/YouCompleteMe#completion-doesnt-work-with-the-c-standard-library-headers

I think you would have to use `testRuleOnCode` directly and add the relevant include path to the arguments. T

[2017-12-01 15:13] UnrealQuester commented on #484
With `-enable-clang-static-analyzer` we simply add the ouput of https://clang-analyzer.llvm.org/ to the generated report. AFAIK this analyzer does not take any options, so you cannot change its behaviour.

[2017-12-02 12:47] BigNewbiePlus commented on #483
Thank you very much. @UnrealQuester .
I have solved it temporarily similar to what you said(spend 3-days).  I use the `-v` to track the clang invocation. I first use the clang-check(build/llvm-install/bin/clang-check) to see the process.  The command is `./clang-check test.cc -- -c`(see More [LibTooling](https://clang.llvm.org/docs/LibTooling.html)). invocation as below:
[code]
**Compared with the

[2017-12-04 01:59] ryuichi-assistant commented on #459
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2017-12-04 01:59] #459 closed

[2017-12-04 02:57] eiauo commented on #484
Thanks for your replay.

[2017-12-04 02:57] #484 closed

[2017-12-07 07:20] silan-liu opened #485 "How to debug custom rule in XCode?"
I use CMake command to generate XCode project, and write some rules，and when I build it, it will generate a xx.dylib, but i don't know how to debug it in Xcode.

[2017-12-07 07:20] ryuichi-assistant commented on #485
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-12-07 13:59] iphone-andy commented on #447
@litianying137  我这能跑起来，但是在分析的时候报错了，`/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/Frameworks/CoreFoundation.framework/Headers/CoreFoundation.h:17:10: 'stdarg.h' file not found`你有遇到过么、

[2017-12-07 14:04] silan-liu commented on #447
@iphone-andy 你是按他的方法来的吗

[2017-12-07 14:08] silan-liu commented on #447
@iphone-andy 报错，需要添加clang的include路径。
-isystem /Users/liu/Documents/workspace/my/opensource/oclint/build/oclint-release/lib/clang/5.0.0/include

[2017-12-08 03:03] iphone-andy commented on #447
@silan-liu  是的，你可以debug么，这个我加了，还是报错,我的参数是这样的
`-p /Users/qiucaning/Desktop/testCode/CoreText /Users/qiucanqing/Desktop/testCode/CoreText/CoreText/ViewController.m -- -isystem /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/usr/include -iframework /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/S

[2017-12-08 03:06] silan-liu commented on #447
@iphone-andy 嗯我是可以了。只不过我跟他的命令有点不同，直接用的-R=/Users/liusilan/Documents/workspace/code/3rd/oclint/oclint-xcoderules/rules.dl/Debug TestObject.m -- -x objective-c

[2017-12-08 04:02] iphone-andy commented on #447
@silan-liu  是的-R参数我也加了，你TestObject.m使用了系统库么，我这报错`UIKit/UIKit.h' file not found`

[2017-12-08 05:17] iphone-andy commented on #447
最后试验可以debug，参数如下，-p是oclint的运行参数，指定文件目录，后跟要分析的文件名称，eg : -p ~/test  ViewController.m ,-R指定要加载的规则，感谢各位 `-R=/Users/qiucanqing/Desktop/BaiLi/oclint/oclint-xcoderules/rules.dl/Debug`  ViewController.m -- -x objective-c -isystem /Users/qiucanqing/Desktop/BaiLi/oclint/build/oclint-release/lib/clang/5.0.0/include  -iframework /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Dev

[2017-12-14 18:32] EngErik opened #486 "The rule 'OCLint:compiler warning' does not exist."
### Issue Summary
In sonar-scanner step, i found this error:

_**The rule 'OCLint:compiler warning' does not exist.**_

Plugin is already installed at SonarQube and i can see all rules from Objective-c and Oclint.

### Environment
- Operation system name and version: OS X El Capitan - 10.11.6
- OCLint version: 0.13
- How OCLint is installed: Homebrew install

### Reproduction Steps
Detailed steps

[2017-12-15 02:28] cuixuejiao commented on #478
@UnrealQuester
Hi dear, I have the same issue.
I've checked my compile_commands.json and it does only contains files from Pods that get filtered out. But the files are both exist in the Pods folder and the source tree.
I am wondering how to deal with this situation for checking the files in the source tree. Please give me some advice, thank you!

[2017-12-16 06:55] litianying137 commented on #485
@silan-liu
一、create xcode floder for each oclint module
![image](https://user-images.githubusercontent.com/3120145/34067989-bf012698-e26e-11e7-87dc-8cfeef31dc7f.png)
二、Use CMake command generate xcode project in xcode floder for each module
[code]
三、build each alone xcode project successed
   some link info need fixed。
四、create xcode workspace
need fixed each project target dependent .
need fixed

[2017-12-17 17:35] UnrealQuester commented on #478
You could try to change the regex so that it does not match your files. You can try playing around with online regex matchers such as https://regex101.com/. Just enter a few paths from both the files you want to   check and from files you want to exclude and try to get a regex that only matches the excluded paths.

[2017-12-18 01:59] ryuichi-assistant commented on #458
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-12-18 02:02] silan-liu commented on #485
Thanks! I've tried and I found that it only need to generate the oclint_driver and oclint_rules xcode project,build oclint_driver succeed. Then it can work.

[2017-12-18 19:12] christw92 opened #487 "debian(jessie) libstdc++.so.6 version `GLIBCXX_3.4.21' not found"
### Issue Summary
I tried to run oclint on debian 8.9.0-amd64 (jessie) and got the following errors:

[code]
### Environment
- Operation system name and version:
uname -a:
`Linux debian 3.16.0-4-amd64 #1 SMP Debian 3.16.51-2 (2017-12-03) x86_64 GNU/Linux`
- OCLint version: 0.13
- How OCLint is installed:
prebuilt binary downloaded from github.

### Reproduction Steps
1. Download [oclint-0.13-x86_6

[2017-12-18 19:12] ryuichi-assistant commented on #487
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-12-19 10:27] cuixuejiao commented on #478
@UnrealQuester Thanks, I'll try that :-)

[2017-12-20 07:25] Frenzyfeng commented on #425
Why does this issue closed?
I met the same issue and i didn't see any solution in the answer?
@ryuichis

oclint: error: cannot open report output file /Users/ios/Documents/Work/iOSVivaVideo/XiaoYingApp/oclint.html

And sure i have the permissions for its containing folder:
 ls -al  /Users/ios/Documents/Work/iOSVivaVideo/
drwxr-xr-x  26 ios  staff      832 12 20 15:09 XiaoYingApp

[2017-12-25 09:33] cissusnar opened #488 "OSError: [Errno 7] Argument list too long"
### Issue Summary
oclint-json-compilation-database report error with "OSError: [Errno 7] Argument list too long"

### Environment
- Operation system name and version:
macOS 10.13.2

- OCLint version:
LLVM (http://llvm.org/):
  LLVM version 5.0.0svn-r313528
  Optimized build.
  Default target: x86_64-apple-darwin17.3.0
  Host CPU: haswell

OCLint (http://oclint.org/):
  OCLint version 0.13.
  Built

[2017-12-25 09:33] ryuichi-assistant commented on #488
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-12-26 21:02] stonedauwg commented on #462
Had same issue, using COMPILER_INDEX_STORE_ENABLE=NO fixed it for me
using MacOS 10.13.2, XCode 9.1, OCLint 0.13

[2017-12-27 01:59] ryuichi-assistant commented on #466
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-12-29 01:59] ryuichi-assistant commented on #382
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2017-12-29 18:39] 72A12F4E opened #489 "Feature Request: Distribute OCLint through CocoaPods"
### Issue Summary

It would be cool if OCLint distributed precompiled binaries through CocoaPods, similar to how SwiftLint makes their binaries available. This would make integration with iOS projects much simpler.

### Resources

https://github.com/realm/SwiftLint#using-cocoapods

[2017-12-29 18:39] ryuichi-assistant commented on #489
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2017-12-29 19:22] ryuichis commented on #489
Think this is a good idea, and I wish I can work on it myself, but looking into my calendar, my time is already committed. I appreciate the idea, and will be grateful if any community effort can help and move towards this direction.

[2017-12-29 19:25] ryuichis commented on #488
Thanks for causing our attention again about this issue. It's a known one in #233, and a solution/workaround has been provided. If you have better way to handle this, feel free to comment on there.

[2017-12-29 19:25] #488 closed

[2017-12-29 19:29] ryuichis commented on #487
What `gcc` version you have? When I had this issue on an older version of Ubuntu, usually upgrading my gcc to 6+ version would solve it. Look at this link https://askubuntu.com/questions/575505/glibcxx-3-4-20-not-found-how-to-fix-this-error and let us know if it helps as well.

[2017-12-29 19:34] ryuichis commented on #466
For my personal curiosity, I was wondering how this effort goes, @stevereaver?

[2017-12-29 22:05] stevereaver commented on #466
I'm on summer holidays, so no work happening at the moment. Also been very busy at work and the machine I was working on was very slow. We will be upgrading it in the new year so things will move a little quicker. I can give a better uodated after the 8th Jan.

[2018-01-09 09:30] garnetwzy opened #490 "OCLint can't compile assembly file"
### Issue Summary
When I use OCLint to check my files, which is indirected included React library. The Final html report  have compile error, and the information is in the React/React/Profiler/RCTProfileTrampoline-x86_64.S, 'RCTDefines.h' file not found.
In this assembly file, it does included the  RCTDefines.h.
Need to know how to correct this error.

### Environment
- Operation system name and v

[2018-01-09 11:27] UnrealQuester commented on #490
Can you check if the compile command in the compile_commands.json can be used the compile the file without errors?

[2018-01-09 12:27] garnetwzy commented on #490
@UnrealQuester When my project haven't import the React, everything is fine. But when it is imported, this error appear. So I think the compile_commands.json can work well if not imported the React.

[2018-01-12 06:29] #490 closed

[2018-01-13 01:59] ryuichi-assistant commented on #470
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-01-13 01:59] ryuichi-assistant commented on #458
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2018-01-13 01:59] #458 closed

[2018-01-15 08:37] croustibapt commented on #486
Same problem here...

[2018-01-15 10:10] croustibapt commented on #486
I figured out what's going on. The problem is that OCLint cannot handle user defined warnings (ex: #warning My custom warning). Commenting each occurence solves the issue.

[2018-01-15 10:13] croustibapt commented on #486
It's more than that. All compiler warnings make OCLint stop...

[2018-01-15 10:50] croustibapt commented on #486
Ok! Got it! The problem cames from Backelite and no from OCLint: https://github.com/Backelite/sonar-objective-c/pull/50
Should be closed.

[2018-01-24 00:00] gdonald opened #491 "Network.cpp:103:27: error: ‘memset’ was not declared in this scope"
### Issue Summary
Compilation fails:
oclint-0.13/countly/lib/Network.cpp:103:27: error: ‘memset’ was not declared in this scope

### Environment
- Operation system name and version:

Linux debian 4.9.0-5-amd64 #1 SMP Debian 4.9.65-3+deb9u2 (2018-01-04) x86_64 GNU/Linux

No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.3 (stretch)
Release:	9.3
Codename:	stretch

[2018-01-24 00:00] ryuichi-assistant commented on #491
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2018-01-24 00:02] gdonald commented on #491
Not sure what else you need, fix it or don't.

[2018-01-27 01:59] ryuichi-assistant commented on #483
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-01-30 10:16] yangshengtao commented on #447
@silan-liu TestObject.m怎么写的

[2018-01-30 10:43] yangshengtao commented on #485
how oclint_driver build?

[2018-02-01 05:25] silan-liu commented on #485
1.cd oclint root dir
2.mkdir oclint-xcode-driver
3.touch create.sh

[code]

4.sh create.sh

[2018-02-01 05:26] silan-liu commented on #447
就是在另外一个工程里面建的TestObject的类，跟平常的oc一样。

[2018-02-10 22:24] Swordforger commented on #483
Isn’t stddef.h isn’t that part of the STL?

[2018-02-13 01:59] ryuichi-assistant commented on #470
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2018-02-13 01:59] #470 closed

[2018-02-14 01:59] ryuichi-assistant commented on #478
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-02-20 14:03] fetzig opened #494 "Using OCLint in Xcode 9 seems to be broken"
### Issue Summary

oclint integration/usage with xcode seems to be incompatible with xcode 9. since there is no info about compatibilty (xcode, oclint, xctool), especially no info about xcode  setup (project vs. workspace, cocoapods, ...), I have no idea where to even start.

### Environment

mac os 10.13.3
oclint 0.13
xctool 0.3.4
xcode 9.2
xcpretty 0.2.8

use any of the run scripts linked in the

[2018-02-20 14:03] ryuichi-assistant commented on #494
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2018-02-20 14:20] fetzig commented on #494
@ryuichi-assistant have restructured the issue description according to the template.

[2018-02-20 14:49] fetzig commented on #489
@72A12F4E  +1, because cocoapods brings a couple of additional benefits, but...

...even without cocoapods, swiftlint setup is way simpler. runscript added to "normal/main" target looks like this:

`swiftlint lint --config "${SRCROOT}/.swiftlint.yml"`

that's it.

yml looks like this:

[code]

[2018-02-21 01:59] ryuichi-assistant commented on #462
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-02-28 09:54] vincentgemini opened #495 "oclint: Not enough positional command line arguments specified"
### Issue Summary
A brief but thorough description of the issue.

### Environment
- Operation system name and version:macOS 10.12.6
- OCLint version:0.13
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others? homebrew

### Reproduction Steps
Detailed steps to reproduce the issue.

    oclint-json-compilation-database -v -e Pods -- -report-type xml

[2018-02-28 09:54] ryuichi-assistant commented on #495
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2018-03-07 08:31] gtatgh commented on #462
I had same issue, `COMPILER_INDEX_STORE_ENABLE=NO` fixed it for me. My environment is Mac OS X 10.13.3, Xcode 9.2, OCLint version 0.13. Built Sep 18 2017 (10:27:44).

[2018-03-07 08:42] vincentgemini commented on #495
The problem has been solved.

[2018-03-07 08:42] #495 closed

[2018-03-09 21:52] ravimandala opened #496 "Interface/enum redefinition related compiler errors in OCLint report"
### Issue Summary
When a JSON compilation database is created from xcodebuild log (using `oclint-xcodebuild` or `xcpretty`), the resultant `compile_commands.json` is leading to compiler errors in OCLint report. Typical errors in **Objective-C** code are...

* duplicate interface definition for class 'XYZObservable'
* property has a previous declaration
* redefinition of 'XYZDataManagerBackedResour

[2018-03-12 17:14] ravimandala commented on #496
@ryuichis I need your help on this. Can you please look into it?

[2018-03-14 01:59] ryuichi-assistant commented on #478
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2018-03-14 01:59] #478 closed

[2018-03-14 07:14] ravimandala commented on #496
Unfortunately, I can't share the `compile_commands.json` and I don't have a sample project where this issue can be reproduced. But, yes, I too suspect the clang parity.

The clang version used by my Xcode 9.1 installation is (and clang that is part of `compile_commands.json`)...
[code]

where as my custom OCLint build has the below version...
[code]

Do I need to rebuild my binary with a different

[2018-03-14 07:58] UnrealQuester commented on #496
You could try building oclint with your systems LLVM version. Check out a clean build and run [makeWithSystemLLVM](https://github.com/oclint/oclint/blob/master/oclint-scripts/makeWithSystemLLVM) with the path to your LLVM installation.
This is not officially supported but might work for you.

[2018-03-14 08:09] UnrealQuester commented on #491
Could not reproduce on a debian 9.3 VM. The required header for memset (cstring) is also included. Does the problem also occur if you just do `./countly co && ./countly build`?

[2018-03-15 01:59] ryuichi-assistant commented on #486
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-03-16 20:57] ravimandala commented on #496
Tried buildWithSystemLLVM with my local latest LLVM+Clang build. It did not build successfully and it was throwing errors about missing files in the specified LLVM_PATH.

We built OCLint with https://github.com/apple/swift-clang but ended up seeing the same redefinition errors.
[code]

Overall, I believe the #import is not taking care of redundant inclusions, if any. I believe OCLint is widely use

[2018-03-21 09:15] ravimandala commented on #496
@UnrealQuester @ryuichis @ryuichi-assistant

This is most likely a bug in OCLint. The possible issue is oclint creating a **SyntaxOnlyAction** that bypasses the _normal_ header parsing logic, which probably bypasses the real preprocessor.

Here is a repo to reproduce the error.
https://github.com/ravimandala/linter-issue

Please take a look into it and let us know your thoughts.

[2018-03-24 01:59] ryuichi-assistant commented on #487
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-03-24 01:59] ryuichi-assistant commented on #466
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-03-25 19:38] UnrealQuester commented on #496
Sadly I do not have a mac system to reproduce this error and no experience with the language, so I cannot help here. Maybe someone else can reproduce the error on their machine and can help.

@ravimandala regarding the SyntaxOnlyAction: Would compiling with clangs `-fsyntax-only` option have the same effect?

[2018-03-27 17:00] ob commented on #496
I've tracked down the problem to `oclint` not honoring the `-ivfsoverlay` flag in the compiler. It seems the way `oclint` is initializing the `compilerInvocation` class is missing setting up the filesystem properly so that it has a VFS. I'm trying to understand the code in `oclint` but I don't get the reason why it's creating an array of `FileManager` objects... I'm still poking at it, but if anyo

[2018-03-27 21:37] ob commented on #496
I submitted #497 which I believe fixes this.

[2018-03-29 18:59] ob opened #498 "OCLint should use LLVM from swift"
While playing with OCLint I found differences between Xcode’s clang compiler and the clang compiler shipped with OCLint. I think Xcode ships with the fork of clang used in Swift (available in github).

I think bundling the latest LLVM from the Swift project would cause less problems for iOS projects.

[2018-03-29 19:00] ryuichi-assistant commented on #498
It seems like you have not followed our issue template.

To make it easier for us help you resolve this issue, please update the issue by following our template.

[2018-03-30 16:30] UnrealQuester commented on #498
Could not find any prebuilt packages on first glance. Do you happen to know if there are any?
These are pretty much required for ci as building it from source takes too long for travis.

[2018-03-30 19:51] ob commented on #498
Hmm... good point. I don't know if any binary releases for the LLVM/Clang of swift. I wonder if it would be something worth bringing up with the swift project... that they should make binary releases of the LLVM/Clang parts of swift available as part of _their_ release process...

[2018-03-31 01:59] ryuichi-assistant commented on #485
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-03-31 08:16] #485 closed

[2018-04-02 12:30] UnrealQuester commented on #498
Would linking against the system LLVM be an option? I suggested this in #496 but it looked like it did not work out for the original poster.

[2018-04-02 19:54] ob commented on #498
I'm not sure what you are calling the "system LLVM". Apple's Xcode application doesn't include a full LLVM release per-se... for example, all the header files of the clang compiler are missing. So if you are referring to Xcode as the system's LLVM then I don't think we can use that.

If you mean the LLVM you get from running something like `brew install llvm`, then I think we could use that but fr

[2018-04-05 20:10] BrodJP commented on #462
Any Idea how to fix this issue for MacOS 10.13.3, Xcode 9.2, OCLint 0.13?

[2018-04-09 16:33] UnrealQuester commented on #498
I was hoping that Xcode would bundle a complete LLVM package. If this is not the case, users might still be able to use the swift/llvm package by downloading the source manually and putting it where the oclint script would put it.

But this would probably be infeasible to test in travis, so we are unlikely to officially support that.

[2018-04-10 09:16] AdorkDean commented on #462
same as @kronenthaler , not work

[2018-04-15 01:59] ryuichi-assistant commented on #486
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2018-04-15 01:59] #486 closed

[2018-04-20 13:59] silverhammermba commented on #494
I'm not having any issue _running_ oclint with Xcode 9 if I apply the #497 patch and use the COMPILER_INDEX_STORE workaround, but even then the output seems really messed up.

I run with

    xcodebuild ... clean build COMPILER_INDEX_STORE_ENABLE=NO | xcpretty -r json-compilation-database -o compile_commands.json
    oclint-json-compilation-database -- -report-type=pmd > oclint.xml

And the output

[2018-04-23 05:35] stevereaver commented on #466
Finally we have a new 64 thread system with 128Gb ram and I have been able to succesfull compile OCLINT on Solaris 11.3

`bancroft@itgcore0:/src/oclint/oclint-0.13.1/build/oclint-0.13.1/bin$ uname -a
SunOS itgcore0 5.11 11.3 sun4v sparc sun4v Solaris
bancroft@itgcore0:/src/oclint/oclint-0.13.1/build/oclint-0.13.1/bin$ ./oclint-0.13.1 -version
LLVM (http://llvm.org/):
  LLVM version 5.0.1
  DEBUG b

[2018-04-24 01:59] ryuichi-assistant commented on #487
This issue will be auto-closed because there hasn't been any activity for a few months. Feel free to open a new one if you still experience this problem.

[2018-04-24 01:59] #487 closed

[2018-04-28 08:47] rickytan opened #499 "Custom rule cause segmentation fault"
### Issue Summary
I built my first rule using LLVM 6.0.0, and it successfully generated a `x.dylib`. But when I load it to oclint-0.13, it crashs with **segmentation fault 11**

### Environment
- Operation system name and version: macOS Sierra 10.12.6
- OCLint version: 0.13
- LLVM version: 6.0.0, installed via homebrew
- How OCLint is installed: homebrew install

### Reproduction Steps
Detailed st

[2018-04-28 10:31] UnrealQuester commented on #499
Does the crash occur because you import the rule or is it in the code of the rule itself? What have you done so far to narrow down the crash?

You could try commenting out blocks of code until the segfault no longer occurs or run oclint under a debugger to see where the segfault happens.

[2018-05-01 02:27] rickytan commented on #499
I re-compile my rule under **LLVM 5.0.1**, and it works fine! Thanks

[2018-05-01 02:27] #499 closed

[2018-05-03 07:47] IngoMeyer441 opened #500 "Some types of errors are undetected if `-std=c89` is set as a compile flag"
### Issue Summary
Some types of errors are undetected if `-std=c89` is set as a compile flag.

### Environment
- Operation system name and version: macOS High Sierra (10.13.4)
- OCLint version: 0.13.1
- How OCLint is installed: Prebuilt binary from GitHub

### Reproduction Steps
Call oclint with the compilation flag `-std=c89`:
[code]

#### Sample code

[code]

[code]

### Expected Behavior
The `g

[2018-05-10 01:59] ryuichi-assistant commented on #483
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-05-14 01:59] ryuichi-assistant commented on #491
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2018-05-16 18:04] UnrealQuester commented on #500
It looks like our check for the language is not quite enough. In `isLanguageSupported` we check for `ObjC1`, `CPlusPlus` and `C99`. Because clang correctly does not consider c89 to be compatible with c99 we just skip most rules. Sadly `getLangOpts` has no way to check for the other versions, so I have no idea how we would fix this.

If anyone knows how to correctly get the current language version

[2018-05-18 10:47] gdonald commented on #491
The latest version ends telling me my cmake program is not set.  I have cmake install so I have no idea what it actually needs me to do.

I'm going to close this ticket.  It's failed to build for me twice now and given the length of time since my first failed attempt I don't really recall why I wanted to install it in the first place.  Thanks anyway.

[2018-05-18 10:47] #491 closed

[2018-05-29 07:15] li8911255 opened #502 "Can I modify the class Results？"
As I can see，the class Results perhaps only have the header file（Results.h），can I modify the source code of Results,and how？

[2018-05-29 12:45] UnrealQuester commented on #502
The `Results` interface is implemented in `oclint-core/lib/UniqueResults.cpp` and `oclint-core/lib/RawResults.cpp`.

[2018-05-30 02:28] li8911255 commented on #502
@UnrealQuester I got it,thx

[2018-05-30 02:28] #502 closed

[2018-05-30 15:21] slzhou opened #503 "oclint-json-compilation-database报错"
执行oclint-json-compilation-database -e Pods oclint_args  -- -rc=LONG_LINE=200 -rc=NCSS_METHOD=100  -o=report.html报错：
Skipping /WorkSpace/OCLint/SuperLogger/SuperLoggerDemo/oclint_args. Compile command not found.
report.html里的内容：
OCLint Report Summary: TotalFiles=0 FilesWithViolations=0 P1=0 P2=0 P3=0 [OCLint (http://oclint.org) v0.13]
这不对啊，一个警告都没有检查出来，oclint_args是个什么东西啊？为啥当做文件跳过啊？

[2018-06-22 07:02] RayCyder opened #504 "multijob error: any one can help explain why clang option "-I" caused multiple job error?"
### Issue Summary
xcodebuild with -dryrun options .cause header not found. try to fix it with clang option "-I",but got this error

### Environment
- Operation system name and version:macos 10.13
- OCLint version:0.13.1
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?
#### related Question:
https://stackoverflow.com/questions/48881024/oclint

[2018-06-22 07:43] RayCyder commented on #504
I see why . can add  one extra argument for oclint ,support add extra arguments to clang  ?

[2018-06-26 07:37] #504 closed

[2018-06-27 08:18] ghost opened #505 "Build OCLint in debug mode for fastlane"
### Issue Summary
I'm trying to build OCLint in debug mode to debug the returns command 6 - COMPILATION_ERRORS.
More information: trying to use OCLint on a Xcode Project that use frameworks

### Environment
- Operation system name and version: macOS Hight Sierra 10.13.4 (17E199)
- OCLint version: oclint-0.13.1
- How OCLint is installed: Build bedug mode from github sources

### Reproduction Steps

[2018-06-27 09:04] RayCyder commented on #496
here is my oclint debug info  . similar problem:  compile command can run in cmd line,but oclint exit with 6.  seems same header had compiled twice ,given diag::err_duplicate_xxx error
(lldb) p PDecl->dump()
ObjCPropertyDecl 0x1079e5338 </Users/ray/Documents/gitPro/xxx/src/common/kgcommon/commonThirdPart/SharedOtherSDK/QQSDK/TencentOpenAPI.framework/Headers/TencentMessageObject.h:118:1, col:50> co

[2018-06-29 03:54] codedraughtsman opened #506 "-j option for oclint-scripts/tests not working"
### Issue Summary
running `oclint-scripts/tests -j1` uses 6 processes instead of one to build the oclint tests.

By default, `ninja` runs with 6 processes if the `-j` option is not set. This leads me to believe that `oclint-scripts/tests` is not correctly passing the `-j` option to the `ninja` command call.

Each of the build processes were consuming about 3GB of RAM causing my computer to run out

[2018-06-29 09:12] UnrealQuester commented on #506
Thank you for your bug report. We indeed seem to ignore this option when invoking ninja. As a workaround you could try using `--no-ninja` to invoke make instead.

[2018-06-30 03:15] codedraughtsman opened #508 "oclint website link gives "requested URL was not found" error"
### Issue Summary
The community link on the top right hand side of the oclint docs website ([http://docs.oclint.org/en/stable/index.html](http://docs.oclint.org/en/stable/index.html)) is giving a "requested URL was not found" error.

Thank you.

### Environment
I'm using Firefox 6.00.1 on ubuntu.

### Reproduction Steps
Go to [http://docs.oclint.org/en/stable/index.html](http://docs.oclint.org/en/

[2018-06-30 03:18] codedraughtsman commented on #506
@UnrealQuester Thank you for your quick response and fix.

[2018-06-30 06:59] UnrealQuester commented on #508
It appears that link is only on the oclint docs subpages and not on the start page (http://oclint.org).
Maybe we should consider merging the community and github links.

[2018-07-06 00:36] f2prateek opened #509 "oclint-json-compilation-database: Unable to run oclint on Xcode project"
### Issue Summary
Unable to run `oclint-json-compilation-database` on my project successfully, it fails with `oclint: error: one compiler command contains multiple jobs:`

### Environment
- Operation system name and version: macOs 10.13.5
- OCLint version:oclint-0.13.1
- How OCLint is installed: Using the Prebuilt binary download from Github for OS X from https://github.com/oclint/oclint/releases/

[2018-07-10 12:32] RayCyder opened #510 "jsonreporter did not cope with extra " and '"
### Issue Summary
jsonreporter did not cope with extra " and '  ,thus,written file actually is not json .for example:

{
"xx":"xxx'x'x"x"x"
}

[2018-07-10 13:40] #506 closed

[2018-07-11 11:30] CRoig commented on #302
Thanks @tianshunjian for the tip. Although I have #define constants in my code, the issue was caused by Bolts pod. Excluding Pods folder from the analysis solved the issue.

Just a useful advice. If you have the same issue and you want to know which class is making OClint to fail use -verbose.

[2018-07-11 19:33] #496 closed

[2018-07-13 11:21] jprossardalia opened #511 "Getting error while building the with the OClint target"
### Issue Summary
Getting error while building the with the OClint target after following the instruction from the tutorial.

### Environment
- Operation system name and version:macOS High Serria 10.13.6
- OCLint version: 0.13
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others? Homebrew

### Reproduction Steps
As per the tutorial instruction, I

[2018-07-17 05:53] passol1988 commented on #495
I have the same issue with osx 10.13

[2018-07-17 18:32] Nguyentung79 commented on #511
Cgjnnkv

[2018-07-17 18:32] Nguyentung79 commented on #511
Vhkkbvv

[2018-07-23 06:32] yumumu commented on #495
@vincentgemini  How did you solve it ?

[2018-07-25 14:43] egr-ext opened #512 "Oclint 0.13.1 many errors generated then crash"
### Issue Summary
Many "N errors generated" are displayed then oclint fails with code error 6.

### Environment
- macOS 10.12.6
- OCLint version: 0.13.1
- Prebuilt binary downloaded from github, manual install by copying files

### Reproduction Steps
We generate the compile_commands.json file by xcodebuild command line, then we execute :
`$ oclint -report-type=pmd -o=sonar-reports/oclint.xml -max-

[2018-08-03 15:06] egr-ext commented on #512
I removed -enable-clang-static-analyzer option => not usefull and generate crashes

[2018-08-03 15:06] #512 closed

[2018-08-16 03:49] shengwanlin opened #515 "oclint error"
### Issue Summary
use oclint-json-compilation-database command I get a error :

[code]

[2018-08-17 09:50] greenzeal commented on #481
still compiler errors are in the report

[2018-08-30 02:47] suoxj commented on #495
I have the same issue, and it's not always happening ,sometimes it runs successfully, sometimes it failed and has the same error, please give me some help, thanks @vincentgemini

[2018-09-06 03:29] AugustRush commented on #425
+1

[2018-09-10 08:14] AugustRush commented on #515
+1

[2018-09-11 09:20] guzuqing opened #517 ".oclint file does not work"
### Issue Summary
A brief but thorough description of the issue.
.oclint file does not work
### Environment
- Operation system name and version: macOS High Sierra 10.13.6
- OCLint version:  OCLint version 0.13.
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others? homebrew install

### Reproduction Steps
Detailed steps to reproduce the issue.
in

[2018-09-12 05:56] xiaodingdang18 commented on #515
+1，  oclint :error cannot open report output file
 LLVM version 5.0.1
  Optimized build.
  Default target: x86_64-apple-darwin17.7.0
  Host CPU: broadwell
OCLint (http://oclint.org/):
  OCLint version 0.13.1.
  Built Feb  6 2018 (09:25:36).

[2018-09-12 05:57] xiaodingdang18 opened #518 "oclint:error:cannot open report outputfile oclint.xml"
oclint :error cannot open report output file
LLVM version 5.0.1
Optimized build.
Default target: x86_64-apple-darwin17.7.0
Host CPU: broadwell
OCLint (http://oclint.org/):
OCLint version 0.13.1.
Built Feb 6 2018 (09:25:36).

[2018-09-12 23:17] krader1961 opened #519 "`__builtin_unreachable();` should be recognized"
### Issue Summary
Use of `__builtin_unreachable();` where a `break;` would otherwise be used should suppress a `missing break in switch statement` warning.

### Environment
- Operation system name and version: macOS 10.12
- OCLint version: 0.13
- How OCLint is installed: homebrew install

### Reproduction Steps
This came to my attention because the [korn shell](https://github.com/att/ast/pull/865)

[2018-09-13 00:45] krader1961 commented on #519
Also, `goto a_label;` as the last statement in a case block should be treated as equivalent to `break;`. Personally I would never write code like that but there are quite a few instances in the ksh source where they use it as an early exit. It's usually this pattern:

[code]

[2018-09-13 09:52] guzuqing commented on #361
oclint doesn't read .oclint configuration file
i met this error too,  if i do not want to moved away from .oclint file and instead gave the rules directly to the command line..how can i do to solve this error? need your help !thank you

[2018-09-13 11:13] xiaodingdang18 commented on #518
[compile_commands.json.zip](https://github.com/oclint/oclint/files/2379012/compile_commands.json.zip)

[2018-09-18 06:45] lmy690043305 opened #520 "get the wrong Cyclomatic Complexity of a function"
### Issue Summary
get the wrong Cyclomatic Complexity of a function through oclint
### Environment
 OCLint version 0.13.

### Reproduction Steps
oclint-json-compilation-database -e Pods -v -- -rc=LONG_LINE=150 -rc=NCSS_METHOD=60 -report-type pmd -o sonar-reports/lizard-report.xml -max-priority-1 300000  -max-priority-2 300000  -max-priority-3 300000

#### Sample code

(void)initMyScrollViewContent

[2018-09-20 05:17] ZZinKin commented on #462
It works for me, thank you very much.

[2018-10-19 08:04] mademao opened #521 "Compile Fail OCLINT 0.13"
###Issue Summary
I am attempting to compile OCLINT 0.13 on MacOS 10.13.6, it keeps failing at 62%

###Environment
Operation system : MacOS 10.13.6
OCLint version: 0.13
How OCLint is installed: compiling from source
Reproduction Steps
Simply compile using the ./make script in oclint-scipts directory.

###Sample code
The end of the output from the compile.

[ 62%] Building CXX object projects/compil

[2018-10-22 09:29] CYBoys commented on #521
我在61%的时候
2 warnings and 4 errors generated.
make[2]: *** [projects/compiler-rt/lib/tsan/CMakeFiles/clang_rt.tsan_ios_dynamic.dir/rtl/tsan_libdispatch_mac.cc.o] Error 1
make[2]: *** Waiting for unfinished jobs....
make[1]: *** [projects/compiler-rt/lib/tsan/CMakeFiles/clang_rt.tsan_ios_dynamic.dir/all] Error 2
[ 61%] Built target RTAsan_dynamic.ios
make: *** [all] Error 2 😢

[2018-10-22 09:50] CYBoys opened #522 "Compile Fail OCLINT 0.13.1"
### Issue Summary
I am attempting to compile OCLINT 0.13.1 on MacOS 10.13.6, it keeps failing at 61%

### Environment
- Operation system name and version: MacOS 10.13.6
- OCLint version:0.13.1
- How OCLint is installed:  prebuilt binary downloaded from github

### Reproduction Steps
Simply compile using the ./make script in oclint-scipts directory.

#### Sample code
The end of the output from the

[2018-10-24 17:39] vaibhav-shah opened #523 "ld: library not found for -lgmock"
### Issue Summary
A brief but thorough description of the issue.
This happens when I run the test script: "clang-5.0: error: linker command failed with exit code 1 (use -v to see invocation) ld: library not found for -lgmock"
I can see that this is an error that also shows up in Travis CI for OCLint when running this with AppleClang.

### Environment
- Operation system name and version: OSX 10.13.

[2018-10-25 17:06] vaibhav-shah commented on #523
From what I've seen trying to fix the issue, the `gmock` and `gtest` library files are being expected to be inside `build/googletest/` and `build/googletest/gtest`, but they don't show up there.

They show up inside `build/googletest/lib`. I have not been able to determine a root cause for this.

[2018-10-26 13:22] 4hopp opened #524 "Missing privacy policy"
The link to the Privacy Policy mentioned in this document: http://oclint.org/news/2016/09/14/anonymous-analytics.html is dead.

Please provide a new Privacy Policy.

[2018-10-26 15:42] 4hopp opened #525 "Check header files"
### Issue Summary
When using a compilation database, is it possible to have all included header files checked as well? By default, this does not seem to be the case.

(Note: If headers are added to the compilation database, this seems to work; however headers are usually not part of a compilation database)

### Environment
- OCLint version: 0.13.1

### Reproduction Steps
* Create `a.cpp`.
* Create

[2018-10-26 21:01] vaibhav-shah commented on #524
+1

[2018-10-29 09:37] mrriddler commented on #522
把version.py中的llvm_latest_release_branch改为最新clang版本(tags/RELEASE_700/final)，重新./make可以解决这个问题。如果最后link不过，把clangCrossTU、clangIndex加到cmake中。

[2018-10-31 08:35] MagLiC commented on #462
I have already set COMPILER_INDEX_STORE_ENABLE=NO. but it doesn't work for me. Is any idea to fix it?

[2018-10-31 10:37] CYBoys commented on #522
@mrriddler 大佬，在building的时候遇到了一个这样的错误。请问大佬又遇到过么？
[code]

[2018-11-01 03:02] ryuichis commented on #522
I am working on a branch at https://github.com/ryuichis/oclint/tree/llvm-7.0 that catches up LLVM 7.0 changes. It works fine on macOS, but still have issues on Linux machine. If you only use OCLint on a mac, please go ahead and give it a try.

[2018-11-01 03:04] ryuichis commented on #524
I am removing countly component in the coming release, so there will be no more analytics, thus, privacy policy will be no longer needed.

[2018-11-01 07:03] mrriddler commented on #522
去掉AddExtraVersionPrinter(&oclintVersionPrinter)的调用就好

[2018-11-07 04:02] carusd commented on #523
Me too. And I try to copy the library file to the expected dir and test again, still failed.

here's the output:

`
Undefined symbols for architecture x86_64:
  "testing::InitGoogleTest(int*, char**)", referenced from:
      void testing::internal::InitGoogleMockImpl<char>(int*, char**) in libgmock.a(gmock-all.cc.o)
  "testing::InitGoogleTest(int*, wchar_t**)", referenced from:
      void testing:

[2018-11-07 13:36] mademao commented on #521
这个问题主要是这个0.13对应的llvm在svn上的版本太低，有几个文件编译不通过，你可以重新指定一下下载llvm的版本，或者说自己下载之后去替换一下。

[2018-11-08 12:30] carusd commented on #302
I also encounter this problem days ago, after a deep look into it. I found that it's because the llvm version of the oclint is lower than the one of the xcode.

For example, oclint 0.12 use llvm@4, which is correspond to xcode8. When you update xcode to 9,  will also update the grammer of objective-c.  There is some grammer that the llvm@4 don't support, like [this one](https://reviews.llvm.org/rL

[2018-11-13 09:41] sun6boys opened #526 "failed with error code: 6"
### Issue Summary

An error occurred while executing  command
[code]

### Environment
- Operation system name and version: 10.13.6
- OCLint version: 0.13.1
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?

brew install oclint

### Reproduction Steps

[code]

#### Sample code

[code]

[2018-11-14 10:31] carusd opened #527 "Ways to tell from arc or mrc."
I'm maintaining a really old project, which is mixing with arc and mrc.  And I want to write some new rule to check some code, with different coding should comes with different checking solutions. Is there a way know whether this file is using automatic reference counting or manual reference counting in the rule class ?

[2018-11-15 02:44] ZiFy commented on #302
I found If I remove the code "-o xx.html",  the HTML context will be wrote on terminal.

[2018-11-15 03:07] HappyMary commented on #302
When I integrated the binary React library to my project，the error disappeared. But if I integrate the source React library to my project, the error appeared. I found that the binary React library has not assembly files such as RCTProfileTrampoline-x86_64.S. Then, I try to delete those assembly files in source React library and reference, the error also disappeared.

[2018-11-20 01:52] #526 closed

[2018-11-20 02:58] ZiFy commented on #302
My solution： use  ">> oclint_result.html"  without '-o oclint_result.html'

`
oclint-json-compilation-database -e Pods -e React
	-- -report-type html
	-rc LONG_LINE=200
	-rc LONG_VARIABLE_NAME=30
	-disable-rule ShortVariableName
	-max-priority-1=100000
	-max-priority-2=100000
	-max-priority-3=100000

`

[2018-11-29 10:13] ZhiyongPan commented on #425
+1

[2018-12-02 02:48] NicolasKim commented on #522
@CYBoys   解决问题了吗？  我遇到了跟你一样的问题
当我把llvm从500改到700的时候也遇到了同样的问题

[2018-12-02 03:00] NicolasKim commented on #522
@mrriddler   我也遇到了类似的问题   link的时候报错了
看您的回复中“把clangCrossTU、clangIndex加到cmake中”是指加到哪里呢？

[2018-12-02 03:09] NicolasKim commented on #521
@mademao

请问您用的llvm版本是多少呢？我改用了700的，但是遇到其他错误了

mac 0S :10.14.1
OCLint :0.13

日志如下：

[code]

[2018-12-03 05:51] LiShuMing commented on #522
Can somebody fix this bug?

[2018-12-03 06:01] mrriddler commented on #522
oclint-driver下CMakeLists中的TARGET_LINK_LIBRARIES段

[2018-12-07 10:50] zhoulongqa commented on #483
I encountered the same problem when I execude  gem install unf_ext -v '0.0.7.5' --source 'http://rubygems.byted.org/'
the log is
"xcrun clang -o conftest -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk/System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/include/ruby-2.3.0/universal-darwin18 -I/Applications/Xcode.app/Contents/Developer/Pla

[2018-12-13 11:31] RaknasAvis opened #528 "oclint-json-compilation-database doing nothing"
I attached comiple_commands.json file which has valid json data but i am unable to generate report.

- Operation system name and version: MAC OS 10.14 and Xcode 10.1
- OCLint version: LLVM (http://llvm.org/):
  LLVM version 5.0.0svn-r313528
  Optimized build.
  Default target: x86_64-apple-darwin18.0.0
  Host CPU: haswell

OCLint (http://oclint.org/):
  OCLint version 0.13.

- How OCLint is instal

[2018-12-14 06:45] RaknasAvis commented on #528
I used following command to wok it. It is able to generate the report

xcodebuild | tee xcodebuild.log | xcpretty -r json-compilation-database -o compile_commands.json
oclint-json-compilation-database -v -- -report-type html -o report.html

[2018-12-14 06:45] #528 closed

[2018-12-14 10:43] mrriddler commented on #522
缺少clang里面cross_tu模块的符号，还是没有link上。

[2018-12-20 10:31] ZhiyongPan commented on #522
@mrriddler 大神你好，请问cross_tu要怎么加呢？

[2018-12-21 07:46] ZhiyongPan opened #529 "Debug OCLint in oclint-xcodedriver don't call VisitObjCMethodDecl"
### Issue Summary
I am attempting to debug Oclint rules in oclint-xcodedriver project, it calls "string name()"  but not call "VisitObjCMethodDecl(ObjCMethodDecl *decl)".

### Environment
Operation system name and version: MacOS 10.13.6
OCLint version:0.13.1
How OCLint is installed: prebuilt binary downloaded from github

### Reproduction Steps
Detailed steps to reproduce the issue.

#### Sample c

[2018-12-21 09:50] mrriddler commented on #522
上文说过了，向TARGET_LINK_LIBRARIES添加clangCrossTU

[2018-12-25 10:03] tianlizhao commented on #483
There are mission progress codes?

[2018-12-29 10:15] MarkCariddi opened #530 "Error code 247"
### Issue Summary
A brief but thorough description of the issue.   use oclint-json-compilation-database command we are getting error code 247.

### Environment
- Operation system name and version:  Linux cariddi 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

- OCLint version:  0.11
- How OCLint is installed: local build? prebuilt

### Even Better
Is y

[2019-01-21 06:18] Allyess commented on #462
@shorbenko
thanks.

fixed, I set  COMPILER_INDEX_STORE_ENABLE=NO, and update my podfile to set COMPILER_INDEX_STORE_ENABLE for all pod targets.
Mac OS:10.14.2       Xcode:10.1     OCLint: 0.13.1

[2019-02-01 03:42] guzuqing opened #531 "PCH file built from a different branch ((clang-1000.11.45.5)) than the compiler ((tags/RELEASE_500/final 313528))"
### Issue Summary
command:/usr/local/bin/oclint -p /Users/dual/Desktop/ -rc CYCLOMATIC_COMPLEXITY=10 -rc LONG_CLASS=1000 -rc LONG_LINE=200 -rc LONG_METHOD=100 -rc MINIMUM_CASES_IN_SWITCH=3 -rc NPATH_COMPLEXITY=200 -rc NCSS_METHOD=30 -rc NESTED_BLOCK_DEPTH=5 FileClearManager.m

error:
Compiler Errors:
(please be aware that these errors will prevent OCLint from analyzing this source code)
:0:0: PCH

[2019-02-01 03:46] guzuqing commented on #531
This looks like a compile_json file generated by xcodebuild, using a different version of clang（clang-1000.11.45.5） with oclint（tags/RELEASE_500/final 313528），how can i fix it?

[2019-02-07 10:54] sashi01 commented on #526
@sun6boys I get the same error , did you solve it? Thanks !!

[2019-02-15 12:23] wsv587 commented on #522
请问大佬，这个问题最后怎解解决的哇？求赐教~

[2019-02-15 12:25] wsv587 commented on #522
@ZhiyongPan 请问，这个问题解决了么

[2019-02-17 07:20] mrriddler commented on #522
把OCLint源码中的这行代码删了就好

[2019-02-17 07:20] mrriddler commented on #522
把OCLint源码中的这行代码删了就好

[2019-02-26 06:51] hatjs880328s opened #532 "How 2 combine the oclint-json-compilation-database include & exclude ?"
### Issue Summary
How 2 combine the oclint-json-compilation-database include & exclude ?

### Environment
- IOS12
- NEWLEST
- brew install

### Reproduction Steps
How 2 combine the oclint-json-compilation-database include & exclude ?
like this :
oclint-json-compilation-database -i A -i B -e A/c -e B/m --....
is right?

#### Sample code

[code]

Command to run OCLint with the code above.

### Expec

[2019-02-28 19:04] vaibhav-shah commented on #412
+1; this would be great to have. However, how would the issue of multiple reports be tackled?

[2019-03-01 08:14] wulei878 opened #533 "How can I ignore error from DerivedData"
### Issue Summary
how can I ignore error from DerivedData, set '-e DerivedData' not work

### Environment
- Operation system name and version:macos
- OCLint version: 0.13
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?
homebrew
### Reproduction Steps
Detailed steps to reproduce the issue.

oclint-json-compilation-database -e DerivedData -p

[2019-03-03 19:43] odiferousmint commented on #470
Still having the issue.

I did:

[code]

compiled LLVM and then:

[code]

[2019-03-03 20:27] odiferousmint opened #534 "LLVM ERROR: inconsistency in registered CommandLine options"
### Issue Summary

Unable to run `oclint`.

### Environment
- Operation system name and version: Arch Linux
- LLVM version: 7.0.1
- OCLint version: 0.13.1-2
- How OCLint is installed: pacman using PKGBUILD from https://github.com/thodnev/oclint-aur

### Reproduction Steps

[code]

### Output

[code]

It successfully could be compiled with this particular LLVM version, but I get the above error upo

[2019-03-05 08:28] sun6boys opened #535 "How do I specify the python version that oclint executes？"
### Issue Summary
A brief but thorough description of the issue.

### Environment
- Operation system name and version: macOS Mojave 10.14
- OCLint version:0.13
- How OCLint is installed:  homebrew install

[code]

I encountered an error when I executed the above command.

[code]
It looks like a python problem. I downloaded python 3.7 and set it to the default version of the system, but looking at

[2019-03-06 03:06] staticAlex commented on #462
Good morning

[2019-03-14 07:22] jayhe commented on #495
my solution is clean xcode DerivedDate before excute oclint
'rm -rf ~/Library/Developer/Xcode/DerivedData/'

[2019-03-15 10:58] #535 closed

[2019-04-03 14:59] yuanfeidu opened #536 "Why is there only compiler error in the generated report"
### Issue Summary
After I use the command "oclint-json-compilation-database -- -report-type=html -o=report.html", the generated report has nothing except compiler error.
![image](https://user-images.githubusercontent.com/19506556/55489065-d1049400-5663-11e9-8872-1b70851da9c9.png)

I hava found the miss file in the folder. I don't know how to solve this problem, please help me. thanks!

### Environ

[2019-04-07 12:11] yousefhamza commented on #462
Setting `COMPILER_INDEX_STORE_ENABLE` to `NO`to the **project** instead of target worked for me.

How? Setting `COMPILER_INDEX_STORE_ENABLE` to `NO` works but you have to make sure to apply it to the target your are building **and** all the targets depending on it too.

[2019-04-12 19:50] SamiYousef commented on #425
I met the same issue and i didn't see any solution in the answer?
@ryuichis

[2019-04-20 12:32] pocc opened #537 "Allow a way to give an output folder to -enable-clang-static-analyzer"
### Issue Summary
Reopening #330 as it is still a problem

### Environment
bash-5.0$ oclint --version
LLVM (http://llvm.org/):
  LLVM version 5.0.0svn-r313528
  Optimized build.
  Default target: x86_64-apple-darwin18.5.0
  Host CPU: haswell

OCLint (http://oclint.org/):
  OCLint version 0.13.
  Built Sep 18 2017 (08:58:40).

oclint installed via homebrew

### Reproduction Steps
`oclint -enable-cl

[2019-04-24 15:45] pocc opened #538 "Return code is incorrect on violation"
### Issue Summary
When there are errors with the code, oclint's code should be non-zero. This is important for meta-linters that depend on the return code.

### Environment
Macos 10.14
[code]

Installed with `brew install oclint`

### Reproduction Steps / Sample code

[code]

Output for this line:

[code]

### Expected Behavior
Expected behavior is to return 1 or greater error code.

### Actual Be

[2019-05-05 07:34] beautilut commented on #526
i get same error, someone can solve it ? Thanks!!

[2019-05-07 10:36] buptwsg opened #539 "oclint-json-compilation-database takes very long time"
### Issue Summary
oclint-json-compilation-database -v -e Pods -- -report-type html -o oclintReport.html takes
very long time to finish, but it finished very soon a few days ago.

### Environment
- Operation system name and version: Mac OS 10.14.4
- OCLint version: 0.13.1
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?
  local build

### Rep

[2019-05-09 06:37] dzoanb commented on #539
We had the same issue. iOS app in Objective-C, OCLint 0.13.1

**Fix:** Add a `-no-analytics` param somewhere after the `--` so it is passed to the `oclint` command.

**Synopsis:**
An iOS project in Obj-C that took around 20 minutes to lint jumped to 1,5h or more overnight on 3rd of May. We excluded the possibility of our scripts causing the issue and environment changes. The CPU usage was the thin

[2019-05-13 10:15] wanshanhu79 opened #540 "chinese"
### Issue Summary
A brief but thorough description of the issue.

### Environment
- Operation system name and version:
- OCLint version:
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?

### Reproduction Steps
Detailed steps to reproduce the issue.

#### Sample code

[code]

Command to run OCLint with the code above.

### Expected Behavior
W

[2019-05-13 10:15] #540 closed

[2019-05-17 00:10] #523 closed

[2019-05-17 00:10] #522 closed

[2019-05-17 00:12] #531 closed

[2019-05-22 13:11] stonedauwg opened #542 "homebrew cask needs updated to 0.15"
### Issue Summary
Homebrew cask formulae has not been updated for the latest 0.14 release. Still set to last version of 0.13.1

### Environment
- macos mojave 10.14.5
- homebrew install

[2019-05-28 09:58] fusunlang commented on #503
请问这个问题解决了么？

[2019-05-28 10:00] fusunlang commented on #379
请问问题解决了么？

[2019-06-10 09:27] wulei878 commented on #533
哈哈

[2019-06-10 09:27] wulei878 commented on #533
测试下

[2019-06-18 15:07] zakabluk opened #543 "ERROR: Compile command not found."
### Issue Summary
I have been run
`oclint-json-compilation-database -v --include ../BLUs/. ./BLUs/. -- -rc LONG_LINE=250 -max-priority-1 10000 -max-priority-2 10000 -max-priority-3 10000 -report-type pmd -o sonar-reports/.-oclint.xml
`
### Environment
- Mac OS Mojave 10.14.5
- OCLint version: 0.13
- How OCLint is installed: brew

### Reproduction Steps
I'm going to use Backelite/sonar-swift for sc

[2019-07-08 06:47] JungHsu commented on #503
Xcode中需要单独设置环境变量，哪怕你已经在电脑的配置文件下配置了OCLint的环境变量

[2019-07-10 06:51] mqlsq commented on #478
这个问题你是怎么解决的?

[2019-08-13 09:35] goodleixiao opened #544 "ERROR: Compile failed，Undefined symbols for architecture x86_64:"
### Issue Summary
ERROR: Compile failed，Undefined symbols for architecture x86_64:

### Environment
- Operation system name and version: 10.13.6
- OCLint version: 0.14
- How OCLint is installed: local build

LLVM_ROOT: ./sonarqube/oclint/build/llvm-install
-- Found LLVM LLVM_PACKAGE_VERSION: 8.0.0 - LLVM_VERSION_RELEASE: 8.0.0
-- Using LLVMConfig.cmake in: ./sonarqube/oclint/build/llvm-install/lib

[2019-08-25 12:17] samuelchen2015 opened #545 "./test failed, 'clang/AST/AST.h' file not found"
### Issue Summary
I want to rebuild oclint,
- first build clang/llvm with "./clang build -release", it is successful installed in folder 'build/llvm-install'
- second build and test oclint with "./test core", it fails with following
[code]

### Environment
- Operation system name and version: Mac OS10.13.3
- OCLint version: 0.13
- How OCLint is installed: local build

[2019-09-04 13:24] wulei878 commented on #533
1111

[2019-09-06 07:27] LionWY opened #546 "How to use custom rules in run script phase?"
### Issue Summary
A brief but thorough description of the issue.

* Normally, we can add a run script phase, and  enter "source ~/.bash_profile
cd /Users/xxxx
xcodebuild clean
xcodebuild | tee xcodebuild.log | xcpretty -r json-compilation-database -o compile_commands.json
oclint-json-compilation-database oclint_args -- -report-type xcode",  then review our code with OCLint
* Now I write some custo

[2019-09-09 11:07] TonyYuChufang commented on #480
@ryuichis has any idea to figure out this issue?

[2019-09-11 10:43] TonyYuChufang commented on #490
@garnetwzy hello，did you solve this problem

[2019-09-11 10:48] TonyYuChufang commented on #302
@HappyMary did you solve this problem？

[2019-09-24 08:54] egr-ext opened #547 "Issue with Xcode 11: many "error generated" and oclint.xml not generated"
### Issue Summary
After I upgraded to Xcode 11, oclint is crashing:
- Many warning with "N error generated"
- crash on "oclint: error: cannot open report output file /Users/***/sonar-reports/oclint.xml"

The report is not generated.

### Environment
- Operation system name and version:
macOS Mojave 10.14.6 and Xcode 11.0

- OCLint version:
LLVM (http://llvm.org/):
  LLVM version 5.0.1
  Optimized

[2019-10-04 08:05] deimian86 commented on #547
Same here since XCode 11 update.

[2019-10-12 04:52] HamGuy commented on #526
same error

[2019-10-14 07:13] egr-ext commented on #526
+1 since Xcode 11 + iOS 13

[2019-10-22 09:56] skywancen commented on #547
https://github.com/oclint/oclint/pull/548

[2019-10-22 09:58] skywancen commented on #547
You can upgrade llvm9.0 to oclint, I just resolved this issue.

[2019-10-22 10:06] egr-ext commented on #547
Hi Skywancen,

Thanks a lot !

So I checkout your code and I have to build oclint ? I tryed to build oclint but it seems to be very difficult and takes a long time.

What script or command line I have to perform exactly ?

Regards

[2019-10-22 14:38] skywancen commented on #547
You should do this
1. $ cd oclint-scripts
2. $ ./make
this should be a long time about an hour.
if execute successfully, you can find "oclint-release" folder in `build` folder

[2019-10-23 03:25] hnxyzhw commented on #532
I have the same question

[2019-10-23 12:38] egr-ext commented on #547
Hi,

I cloned your repo then I built oclint.

It generated a release 0.14. It  is strange or no ?

[2019-10-23 12:38] egr-ext commented on #547
Hi,

I cloned your repo then I built oclint.

It generated a release 0.14. It is strange or no ?

[2019-10-24 12:00] ryuichis commented on #547
I just made the 0.15 release, and that would resolve the Xcode incompatibility issue.

[2019-10-24 12:00] #547 closed

[2019-10-24 12:02] ryuichis commented on #543
See #547.

[2019-10-24 12:02] #543 closed

[2019-10-24 12:23] ryuichis commented on #544
Can you try the 0.15 release and see if you see the same?

[2019-10-24 12:25] ryuichis commented on #545
If you just want to rebuid oclint, please follow this instructions http://docs.oclint.org/en/stable/intro/build.html

If you also want to run the tests and perhaps adding new features, check out this one http://docs.oclint.org/en/stable/devel/compiletest.html. Please be advised that `countly` has been removed from the project, thus you can ignore the related section.

[2019-10-24 12:25] #545 closed

[2019-10-25 10:07] egr-ext commented on #547
Hi ryuichis,

I dowloaded the zip of 0.15 release, . I build it with ./make but the binairy says 0.14 ?

[2019-10-25 13:51] ryuichis commented on #524
Countly is now removed, so no data is collected at this point. I am closing this one.

[2019-10-25 13:51] #524 closed

[2019-10-25 13:53] ryuichis commented on #494
Closing this one as Xcode 9 is obsolete.

[2019-10-25 13:53] #494 closed

[2019-10-27 02:43] ryuichis commented on #547
@egr-ext I updated the tag just now, would you please try it again?

[2019-10-27 02:43] #530 closed

[2019-10-28 08:34] egr-ext commented on #547
OK I test, have you updated also the symlink oclint ~> oclint-0.15 ?

[2019-10-28 10:58] egr-ext commented on #547
So I built this morning your last zip with sources with ./make
- I generated a binairy file named: oclint-0.14
- ./oclint-0.14 -version returns 0.15 (see screenshot)
- The symlink points to a file that does not exists (oclint-0.15)

My guess is the oclint-0.14 is wrong it should be named oclint-0.15.

Here is a screenshot of my build directory:

![oclint](https://user-images.githubusercontent.com/

[2019-10-28 12:10] skywancen commented on #547
Now, you can use  https://github.com/oclint/oclint, checkout the branch to master, then build with  ./make, the version number will be 0.15!

[2019-10-28 15:12] ryuichis commented on #547
@egr-ext Thank you for your patience and letting us know the issue. I have identified one more piece that needs to be updated. Could you please give it another try, and let us know if it works for you this time?

[2019-10-28 15:18] egr-ext commented on #547
OK I build it again.

[2019-10-29 08:38] egr-ext commented on #547
I confirm it is fixed

[2019-10-29 12:55] ryuichis commented on #547
@egr-ext that's very good to know. Thanks again for testing this along with us.

[2019-11-06 13:17] rizebi commented on #526
Hi! From https://oclint-docs.readthedocs.io/en/stable/manual/oclint.html :
"When the source code has errors, the exit code will be 6."
So, in my opinion, is normal behaviour

[2019-11-08 07:20] kirinzer commented on #462
I have the same problem.

[2019-11-08 12:06] fetzig opened #552 "can't install on current mac version"
### Issue Summary

unable to install from the repo or via homebrew.

[code]
Details see Reproduction Steps.

### Environment
- Operation system name and version: macOS 10.15.1 (19B88),
- OCLint version: --HEAD
- How OCLint is installed: local build and homebrew install

#### Additional Environment Info
Xcode 11.2
Build version 11B52

gcc -v
Configured with: --prefix=/Library/Developer/CommandLineT

[2019-11-08 14:06] ryuichis commented on #552
I am not sure if it's a change in mac Catalina, which I haven't upgraded to yet. But my toolchain dir is `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin` while yours is `/Library/Developer/CommandLineTools/usr/bin`. Besides, you don't have C++ headers under your toolchain folder.

[2019-11-08 14:21] fetzig commented on #552
yeah. but it's a fresh macOS and xCode installation.

[2019-11-08 14:24] ryuichis commented on #552
Right. If you can help us understand the incompatibility, that will be appreciated. Currently I don't have a Catalina to replicate your issue.

[2019-11-08 14:26] ryuichis commented on #552
Maybe you can try something similar to this? https://stackoverflow.com/questions/58278260/cant-compile-a-c-program-on-a-mac-after-upgrading-to-catalina-10-15

[2019-11-08 14:45] fetzig commented on #552
....fresh + brew install cmake

so, manual build takes way to long. tried brew install oclint. works like a charm. thx.

[code]

[2019-11-08 14:45] #552 closed

[2019-11-08 14:56] fetzig commented on #552
@ryuichis thx for the support.

[2019-11-27 07:03] linzhesheng opened #553 "oclint-0.15 make fail,It's stuck"
![image](https://user-images.githubusercontent.com/23381925/69701062-0005d380-1127-11ea-8056-88a0046665a0.png)

[2019-12-02 03:03] suoxj commented on #478
Hi,guys, I still have this issue.
I checked the compile_commands.json , it does has some files, and I don't know why oclint reported that it has no arguments.
Here is my part of json file:

  {
    "command": "/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -x objective-c -target arm64-apple-ios8.0 -fmessage-length=0 -fdiagnostics-show-note-include-stac

[2019-12-04 08:20] boduoduo commented on #553
+1

[2019-12-10 07:32] Max-calibur commented on #553
+1

[2019-12-10 08:37] boduoduo opened #554 "Compiling failed when compiling react RCTProfileTrampoline-x86_64.S."
### Issue Summary
Compiling failed when compiling react RCTProfileTrampoline-x86_64.S.

### Environment
- Operation system name and version:macOS Mojave 10.14.4
- OCLint version:0.14
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?
prebuilt binary downloaded from github.

### Reproduction Steps
Detailed steps to reproduce the issue.
Our proj

[2019-12-10 14:31] ryuichis commented on #554
The error is expected because OCLint won't analyze assembly code. There are two potential ways to avoid feeding assembly code to OCLint:

1. Use `xcpretty` to filter all `.s` and `.S` files
2. `oclint-json-compilation-database` takes `-e` flag to exclude files. I see you already exclude `Pods` and `React` folders. You can do the same to exclude assembly code.

Hope this helps.

[2019-12-10 14:31] #554 closed

[2019-12-10 14:52] ryuichis commented on #553
Depends on your network, it may take a few minutes to download the llvm/clang source code. We recently made the changes to stop dumping all of the svn co outputs to console, so it is likely not stuck, but just busy checking out files. It usually take about 3-5 minutes for me to download the files. In case you want to make sure the script is still doing things, please take a look at this commit htt

[2019-12-10 14:52] #553 closed

[2019-12-11 02:46] linzhesheng commented on #553
I see. Thank you for your help

[2019-12-11 02:49] linzhesheng commented on #553
I see. Thank you.

[2019-12-18 01:35] #546 closed

[2019-12-18 01:46] LionWY commented on #547
can you upload brew, so we can brew install oclint, to get the version 0.15,  ./make takes long long long time, and often error, I am almost crazy, please help me

[2019-12-18 10:40] FlyingNoob opened #555 "No such file or directory: '/Library/Developer/CommandLineTools/Toolchains/XcodeDefault.xctoolchain/usr/include/c++'"
### Issue Summary
oclint 0.15 . build ./make error
### Environment
- Operation system name and version: 10.15.2
- OCLint version: 0.15
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?
github

[2019-12-18 13:44] #544 closed

[2019-12-18 13:49] ryuichis commented on #555
Duplicate of #552

[2019-12-18 13:49] #555 closed

[2019-12-18 13:53] ryuichis commented on #539
I am closing this one as analytics feature is now completely removed. If it is caused by something else, please raise another issue.

[2019-12-18 13:53] #539 closed

[2019-12-18 13:59] ryuichis commented on #552
I still don't have the luxury to run Catalina, but I gave it a try with GitHub Actions, whose [mac infrastructure runs on Catalina.](https://github.blog/changelog/2019-11-06-github-actions-macos-virtual-environment-updated-to-catalina/) It built smoothly for me https://github.com/ryuichis/oclint-make-gh-actions/runs/342071088. The build script can be found in the same repo as well: https://github.

[2019-12-20 03:34] LionWY commented on #547
@egr-ext egr-ext can you upload brew, so we can brew install oclint, to get the version 0.15, ./make takes long long long time, and often error, I am almost crazy, please help me

[2019-12-24 03:23] LionWY commented on #553
![image](https://user-images.githubusercontent.com/5524753/71391594-c948ad80-263f-11ea-9bee-91e0cb5c1db5.png)

[2019-12-24 03:24] LionWY commented on #553
@linzhesheng Have you make it  completed ?

[2020-01-02 03:22] YanxiFeng opened #556 "Photos.framework warning in Xcode 11.3"
oclint warning:
Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS13.2.sdk/System/Library/Frameworks/Photos.framework/Headers
--
When i update my Xcode to 11.3, every time i run code check, it will show these warnings.
PHError.h:10, compiler error, Priority: High
expected '('.
PHError.h:10, compiler error, Priority: High
'#pragma clang attribute pop' with

[2020-01-06 02:07] neufeng commented on #480
add no-error to disable the errors
oclint-json-compilation-database -- -extra-arg=-Wno-error .

[2020-01-06 07:31] neufeng commented on #480
update to oclint0.15
copile source
cd oclint-scripts
python clang prebuilt -release
python build -release
python bundle

[2020-01-15 13:51] smarciel opened #557 "Exit status of command 'oclint-json-compilation-database' was 245 instead of 0."
### Issue Summary
After I upgraded to Xcode 11, oclint is crashing and the report is not generated.

Exit status of command 'oclint-json-compilation-database -v -e Pods -e build -e Internal -e ThirdParties -- -report-type pmd -o ../reports/2045/oclint.xml -max-priority-1=100 -max-priority-2=3000 -max-priority-3=5000' was 245 instead of 0.

### Environment
- Operation system name and version:
macOS

[2020-01-20 09:09] KacyInGitHub commented on #425
I met the same issue and is there any solution?@ryuichis

[2020-01-29 10:15] hafiz-mohsin-confiz commented on #547
@egr-ext Please upload oclint0.15 to brew so that we can incorporate the latest changes other its give following warning when you run a command on terminal.
brew upgrade oclint
Warning: oclint/formulae/oclint 0.13 already installed
Thanks,

[2020-02-04 11:42] hafiz-mohsin-confiz commented on #547
any update on this?

[2020-03-13 09:48] kcharliek commented on #542
please!!!

[2020-03-21 22:02] ochui opened #559 "No license"
Can I modify or redistribute this code without explicit permission?

[2020-03-23 19:09] ryuichis commented on #559
This project and its codebase is made available under BSD license. Please find the license file at https://github.com/oclint/oclint/blob/master/oclint-core/LICENSE and other sub-projects. Modification and redistribution are encouraged with following of the license.

[2020-03-23 19:09] #559 closed

[2020-04-06 02:19] michaeleisel opened #562 "Linting implicit switch fallthrough"
### Issue Summary
Accidentally forgetting to add a `break;` at the end of a switch case is a common error. It'd be great to have a lint for this. There's `-Wimplicit-fallthrough` in clang, but it doesn't check Objective-C code, just C++.

[2020-04-10 11:40] lpfRoc commented on #556
me too

[2020-04-15 02:32] SMG-IOS6Team opened #563 "IOError: [Errno 2]"
### Issue Summary

IOError: [Errno 2] No such file or directory: '/Users/zenggp/Documents/\xe5\xb7\xa5\xe4\xbd\x9c/code/ThirdPart/oclint-master/oclint-scripts/../llvm/tools/clang/include/clang/Basic/StmtNodes.td'

### Environment
- Operation system name and version:
- OCLint version: 0.15
downloaded from github。

### Reproduction Steps
1.downloaded from github。
2.run  ./make
3. oclint-scripts/scaf

[2020-04-15 17:24] mlq commented on #534
Hello,

The following patch should help tackle this:

[code]
Tested with LLVM 9.0.1 and oclint 0.15.0

Best regards

[2020-04-20 09:48] lpfRoc commented on #563
+！

[2020-04-26 04:11] ShenYj commented on #495
I compiled and installed version 0.15 through source code
After this, the ```$oclint``` command is executed and returns:
[code]
```$ oclint --version```

[code]
what can I do?

[2020-04-26 04:13] ShenYj opened #565 "OCLint 0.15 Version with LLVM ERROR"
I compiled and installed version 0.15 through source code
After this, the ```$oclint ```command is executed and returns:

[code]

```$ oclint --version```
[code]

[2020-05-06 19:35] illbebach commented on #542
bump

[2020-05-07 05:03] xywwjf123 commented on #563
+1

[2020-05-08 04:26] xywwjf123 opened #566 "IOError: [Errno 2] No such file or directory: StmtNodes.td"
IOError: [Errno 2] No such file or directory: '...../oclint/oclint-scripts/../llvm/tools/clang/include/clang/Basic/StmtNodes.td'

[2020-05-08 05:27] xywwjf123 commented on #563
请问您解决了么

[2020-05-08 08:14] lpfRoc commented on #563
手动编辑XXXRule.cpp和CMakeLists.txt 可往下进行

[2020-05-22 07:24] momoliyao commented on #563
+1

[2020-05-23 13:47] #563 closed

[2020-05-23 13:47] #566 closed

[2020-05-25 08:51] cocoay commented on #547
https://github.com/cocoay/oclint-releases

[2020-05-26 02:08] hyhSuper commented on #565
我也遇到了同样的问题，你解决了吗

[2020-06-04 07:49] hafiz-mohsin-confiz commented on #547
@cocoay
Thanks for sharing the Oclint0.15 binary file.

[2020-06-04 09:44] kmarcell commented on #533
I would also like to know.

[2020-06-04 12:55] TandyTian commented on #495
I have the same problem.
but it seems likely there is nothing in file.
Because my some files have the same return log as yours, and other files switch html successful.

(why many files?  my file too big, so cut as many small file.  Solved in this way ''
https://github.com/wuwen1030/oclint_argument_list_too_long_solution'')

but I am not sure,  Is there any other reason in the research

[2020-06-05 02:51] TandyTian commented on #565
oclint-json-compilation-database -e Pods --  --verbose   -rc CYCLOMATIC_COMPLEXITY=10  -rc LONG_CLASS=1000  -report-type html -o oclint.html

(first, my file is too big, so I solved in this way, and got 11 files.
https://github.com/wuwen1030/oclint_argument_list_too_long_solution)
---------------------------------------------------------------------------

and then ,
I meet the same problem.

4 fi

[2020-06-05 02:58] TandyTian commented on #565
Looking forward to a solution

[2020-06-05 04:29] TandyTian commented on #565
my problem is solved.

remove ' -e Pods ' , will got a html sucessful.
------------------------------------------------

oclint-json-compilation-database -e Pods -- --verbose -rc CYCLOMATIC_COMPLEXITY=10 -rc LONG_CLASS=1000 -report-type html -o oclint.html

----------------

[2020-06-05 04:33] TandyTian commented on #495
My problem is solved.

remove ' -e Pods ' ,

oclint-json-compilation-database -e Pods -- --verbose -rc CYCLOMATIC_COMPLEXITY=10 -rc LONG_CLASS=1000 -report-type html -o oclint.html

I get a html sucessful.
Compiling /Users/Jack/gitCode/Compiler.m - Success
Analyzing /Users/Jack/gitCode/Compiler.m - Done

This proves that the results in the 4 files are in the pods.

[2020-06-05 04:33] TandyTian commented on #565
Compiling /Users/Jack/gitCode/Compiler.m - Success
Analyzing /Users/Jack/gitCode/Compiler.m - Done

My problem is solved.

remove ' -e Pods ' ,

oclint-json-compilation-database -e Pods -- --verbose -rc CYCLOMATIC_COMPLEXITY=10 -rc LONG_CLASS=1000 -report-type html -o oclint.html

I get a html sucessful.
Compiling /Users/Jack/gitCode/Compiler.m - Success
Analyzing /Users/Jack/gitCode/Compiler.m -

[2020-06-05 07:28] blockspacer opened #569 "extracting error “xz: (stdin): File format not recognized”"
### Issue Summary

issue during local build

### Environment
- Operation system name and version:

[code]
- OCLint version:

[code]

- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?

local build

### Reproduction Steps

[code]

### Expected Behavior

`./make` command must to fail

### Actual Behavior

`./make` command failed with error

[cod

[2020-06-05 08:00] blockspacer commented on #569
possible solution (The -J is the flag that specifically deals with .xz files):

[code]

[code]

BTW `-J` flag did not help, can we switch to other file format, please?

[2020-06-07 12:53] iStonesy commented on #462
thanks, also works for me.

[2020-06-11 13:21] FastGitHub opened #570 "oclint: error: no rule loaded. Error is reported when the build is done."
### Issue Summary
A brief but thorough description of the issue.

### Environment
- Operation system name and version:
- OCLint version:
- How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?

### Reproduction Steps
Detailed steps to reproduce the issue.

#### Sample code

[code]

Command to run OCLint with the code above.

### Expected Behavior
W

[2020-06-15 03:43] #570 closed

[2020-06-23 08:03] MagLiC commented on #556
Is there a solution？

[2020-07-11 02:09] ryuichis commented on #569
I believe the xz file is from llvm, which is our dependency. Not sure why it failed downloading llvm for you.

[2020-07-11 02:10] #565 closed

[2020-07-11 02:12] ryuichis commented on #562
We actually have a rule for this https://github.com/oclint/oclint/blob/master/oclint-rules/rules/convention/MissingBreakInSwitchStatementRule.cpp. Do you have an example that it is not caught for this rule?

[2020-07-13 05:56] blockspacer commented on #569
I failed to build oclint due to that problem (tried multiple re-downloads and different tools - i think that xz file corrupted or chosen tools bugged).

Now i`m using pre-built oclint like so:

[code]

[2020-07-24 17:19] michaeleisel commented on #562
ah nice

[2020-07-24 17:19] #562 closed

[2020-08-04 02:37] lk220203006 commented on #556
me too
oclint version is 0.13

[2020-08-14 06:23] binzi56 commented on #462
Let me add that many people tried it and it was useless because the cache of the project in Xcode was not cleared. After modifying the settings, you must clear the cache!!! If you find it useful, put me up and let others see.

![xcode缓存清除](https://user-images.githubusercontent.com/19421422/90219832-7d01e600-de39-11ea-890e-237881dca94a.png)

[2020-08-24 11:02] buptwsg opened #574 "OCLint takes a long time to finish"
Issue Summary

Environment

Operation system name and version: Mac OS 10.14.5
OCLint version: 0.13.1
How OCLint is installed: local build? prebuilt binary downloaded from github? homebrew install? others?
local build
Reproduction Steps

Detailed steps to reproduce the issue.

Sample code

C
C++
Objective-C
Command to run OCLint with the code above:

xcodebuild clean -scheme iOSTests -workspace iOS

[2020-09-01 06:03] ShenYj commented on #302
" >>" did not work.

[2020-09-01 06:05] ShenYj commented on #556
me 吐

[2020-09-01 07:26] ShenYj commented on #515
+1111111

[2020-09-02 00:36] ShenYj commented on #547
[code]

without llvm version, is that right?

[2020-09-03 00:28] ShenYj opened #575 "0.15 fix it"
+1111111

_Originally posted by @ShenYj in https://github.com/oclint/oclint/issues/515#issuecomment-684512594_

[2020-09-03 00:29] #575 closed

[2020-09-03 03:17] ShenYj commented on #547
It's work! thks

[2020-09-04 10:16] rahulnjs opened #576 "oclint getting stuck, never terminating"
### Issue Summary
After printing the analysis oclint is not terminating. Refer to gif added below. Tested it in 3 different environments but no luck.

### Environment
- Operation system name and version: Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic

- OCLint version:
LLVM (http://llvm.org/):
  LLVM version 5.0.0svn-r313529
  Optimized build

[2020-09-09 02:27] lk220203006 commented on #542
please!!!

install by the code ,always stop in this step

dev@DevdeMac-mini oclint-scripts % ./make
Cloning into 'oclint-json-compilation-database'...
remote: Enumerating objects: 88, done.
remote: Total 88 (delta 0), reused 0 (delta 0), pack-reused 88
Unpacking objects: 100% (88/88), done.
Cloning into 'oclint-xcodebuild'...
remote: Enumerating objects: 85, done.
remote: Total 85 (delta 0), reuse

[2020-09-21 16:27] claybridges opened #577 "Homebrew formulae is out of date, should be version 0.15"
### Issue Summary
Homebrew formulae is out of date, should be version 0.15.

Not sure of best way to address this other than posting an issue here. I've been trying my hand at updating it, but it's non-trivial.

[2020-09-23 03:36] iiiSongs opened #578 "oclint: error: no rule loaded"
### Issue Summary
When the project is successfully compiled, use oclint to scan compile_commands.json to generate the report html file and report an error "oclint: error: no rule loaded"

### Environment
- Operation system name and version:
macOS Catalina 10.15.6
Xcode 12
- OCLint version:
OCLint (http://oclint.org/):
  OCLint version 0.15.
- How OCLint is installed: local build? prebuilt binary d

[2020-10-20 18:28] TomMD opened #580 "OCLint hasn't had a binary release since 0.13.1 (2 years)"
### Issue Summary
As a user of oclint, I'd like to install it on my CI systems with ease.  Sadly, OCLint isn't in the apt package set nor does it have a binary included with the release (contrary to claims in the installation page).

### Environment
- Operation system name and version: Ubuntu 20.04 x86_64
- OCLint version: 20.10
- How OCLint is installed: Well I'd like "prebuilt binary downloaded

[2020-10-21 07:57] Zhangyanshen opened #581 "Compiling 'xxx' Failed"
### Issue Summary
Many files report compilation errors

### Environment
- Operation system name and version:Catalina  10.15.3
- OCLint version:0.15
- How OCLint is installed: local build

### Reproduction Steps

#### Sample code

[code]

### Expected Behavior
All files compile success

### Actual Behavior
Many files report compilation errors

<img width="1273" alt="image" src="https://user-images.

[2020-10-25 04:39] Junerescue67 opened #582 "one bug about "useless parentheses""
==================
#include<stdio.h>
int main()
{
    unsigned x, p, n;
    scanf_s("%u %u %u", &x, &p, &n);
    unsigned tool;
    unsigned max1 = UINT_MAX;
    unsigned max2 = UINT_MAX;
    max1 <<= p - n + 1;
    max2 >>= 31 - p;
    tool = max1 & max2;
    x &= tool;
    x >>= p - n + 1;
    printf("%u", x);
    return 0;
}
===================
上面是我的测试代码，oclint会报一个 “useless parentheses”的错误。错误位置

[2020-11-02 13:14] kmarcell opened #583 "Building 20.10 has binary is named as oclint-0.15"
### Issue Summary
Release 20.10 has binary is named as oclint-0.15

### Environment
- macOS Catalina 10.15.7 (19H2)
- OCLint version: 20.10
- How OCLint is installed: locally buildt from github release .zip

### Reproduction Steps
- Install cmake
- Install ninja
- Run ./make
- Binary is generated in build/oclint-release/
- Symlink build/oclint-release/bin/oclint points to oclint-20.10
- Binary is

[2020-11-07 07:51] nvuillam opened #584 "Unable to install/use oclint with a Dockerfile based on alpine-linux"
### Issue Summary
In order to add oclint to [Mega-Linter](https://github.com/nvuillam/mega-linter#readme), I have an issue to install/use oclint on docker alpine image

[code]

Result  of `oclint -version` called inside the container:
[code]

Development branch: https://github.com/nvuillam/mega-linter/blob/oclint/Dockerfile

I tried to find on google & github, impossible to find a dockerfile with

[2020-11-07 13:23] ryuichis commented on #584
Thank you @nvuillam for the interests of the tool. There are a few issues here:

1. LLVM community provides official prebuilt binaries for Ubuntu, and that's what OCLint uses by default. I am not aware of an official binary for Alpine, but there might be community build that you can consider to use. If you are still out of luck there, you may have to consider building your own LLVM/Clang toolchain

[2020-11-08 13:01] ryuichis commented on #583
Thanks for pointing this out. I fixed this in the master branch, and the 20.11 release will have it addressed. (I am mainly waiting for Tuesday's Apple event and see if there are any implications before I tag it.)

[2020-11-08 13:01] #583 closed

[2020-11-08 15:13] ryuichis commented on #580
Hi @TomMD I wish I had the time to do a better job updating the document, but I prefer people build their local version these days to avoid unnecessary incompatibility issue, especially on the macOS side. With that said, I am adding aarch64 support in the coming release, and building the required LLVM dependencies and OCLint itself on aarch64 takes a good amount of time, so I am currently thinking

[2020-11-17 05:32] xunlongdingxue commented on #445
how solved ? thanks

[2020-11-23 06:26] Lianghuajian commented on #581
You can see the reason why compiling fail in the final report，one reason may lead to compiling fail is assembly file in project

[2020-12-20 13:59] ryuichi-assistant commented on #578
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2020-12-20 13:59] ryuichi-assistant commented on #577
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.

[2020-12-20 13:59] ryuichi-assistant commented on #576
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

Please make sure to update to the latest version and check if that solves the issue. Let us know if that works for you by adding a comment.